<%- include("../../partials/head") %>

<%- include("../../partials/bodyStartWithNavBar/") %>
<%- include("../../partials/sideNav") %>
<div id="layoutSidenav_content">
    <main>
        <div class="page-header pb-10 page-header-dark bg-info">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">

                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                <span class=" text-capitalize">
                                        Youtuber Manager
                                </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                    Add New Youtuber
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-md-0 mb-3">
                        <a  href="/view_youtuber" class="btn btn-sm btn-light font-weight-bold text-uppercase text-primary float-right" data-toggle="tooltip" title="View All Youtubers"><i class="fad fa-eye"></i>&nbsp; View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            <div class="card">
<div class="card-header">Add Youtuber</div>
<% if(msg) {%>
  <span style="color:red; font-size: smaller; "><%=msg %></span>
<% }%>
<form method="POST" action="/add_youtuber_data" class="j-forms">
<%- include("../../partials/alertMsg") %>

<input type="hidden" name="status" value="youtuber">
<div class="sbp-preview">
    <div class="sbp-preview-content">
        <div class="row mx-0">
            <div class="col-md-6">
                <div class="form-group my-3">
                  <label  for="first-name">Name*</label>
                  <% if(data) {%>
                  <% if(data.username){%>
                  <input name="username" value="<%=data.username %>" class="form-control form-control-solid" type="text"  required="" id='first-name'>
                  <% }%>
                  <% }else{%>
                  <input name="username" class="form-control form-control-solid" type="text" placeholder="Please Enter name" required="" id='first-name'>
                  <% }%>
                </div>
            </div>
          <div class="col-md-6">
                <div class="form-group my-3">
                  <label for="email">Email*</label>
                  <% if(data) {%>
                  <% if(data.email){%>
                  <input name="email" value="<%=data.email %>" class="form-control form-control-solid" type="email" placeholder="Please Enter Email" required="" id='email'>
                  <% }%>
                  <% }else{%>
                  <input name="email" class="form-control form-control-solid" type="email" placeholder="Please Enter Email" required="" id='email'>
                  <% }%>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group my-3">
                  <label for="mobile">Mobile*</label>
                  <% if(data) {%>
                  <% if(data.mobile){%>
                  <input value="<%=data.mobile %>" name="mobile" class="form-control form-control-solid" type="text" placeholder="Please Enter Mobile" id="mobile"  onkeypress="return isNumberKey(event)" pattern="[789][0-9]{9}" minlength="10" maxlength="10" required="">
                  <% }%>
                  <% }else{%>
                  <input name="mobile" class="form-control form-control-solid" type="text" placeholder="Please Enter Mobile" id="mobile"  onkeypress="return isNumberKey(event)" pattern="[789][0-9]{9}" minlength="10" maxlength="10" required="">
                  <% }%>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group my-3">
                  <label for="password">Password*</label>
                  <% if(data) {%>
                  <% if(data.password){%>
                  <input name="password" value="<%=data.password %>" class="form-control form-control-solid" id="password" type="text" placeholder="Please Enter Password" required="">
                  <% }%>
                  <% }else{%>
                  <input name="password" class="form-control form-control-solid" id="password" type="text" placeholder="Please Enter Password" required="">
                  <% }%>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group my-3">
                  <label for="refer_code">Refer Code*</label>
                  <% if(data) {%>
                  <% if(data.refer_code){%>
                  <input name="refer_code" value="<%=data.refer_code %>" class="form-control form-control-solid" type="text" placeholder="Please Enter Refer Code" id="refer_code" required="">
                  <% }%>
                  <% }else{%>
                  <input name="refer_code" class="form-control form-control-solid" type="text" placeholder="Please Enter Refer Code" id="refer_code" required="">
                  <% }%>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group my-3">
                  <label for="percentage">Percentage*</label>
                  <% if(data) {%>
                  <% if(data.percentage){%>
                  <input name="percentage" value="<%=data.percentage %>" max="100" min="0" class="form-control form-control-solid" id="percentage" type="number" placeholder="Please Enter Percentage" required="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="3" >
                  <% }%>
                  <% }else{ %>
                  <input name="percentage" max="100" min="0" class="form-control form-control-solid" id="percentage" type="number" placeholder="Please Enter Percentage" required="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="3" >
                  <% }%>
                </div>
            </div>
            <div class="col-12 text-right mt-4 mb-2">
              <button class="btn btn-sm btn-success text-uppercase" type="submit"><i class="far fa-check-circle"></i>&nbsp;Submit</button>
          </div>
        </div>
    </div>
</div>

</div>
        </div>
    </main>
<%- include("../../partials/footer") %>

<script>

    $(window).on('load', function(){

       $('#preloader_admin').hide();

      })
  </script>


<script>

$('#special').on('click', function () {
  mySelect.find('option:selected').prop('disabled', true);
  mySelect.selectpicker('refresh');
});

$('#special2').on('click', function () {
  mySelect.find('option:disabled').prop('disabled', false);
  mySelect.selectpicker('refresh');
});

$('#basic2').selectpicker({
  liveSearch: true,
  maxOptions: 1
});
</script>



<script>
$(document).ready(function(){
  
if ($('#accordionSidenavPages a').hasClass('active')){
  $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
  $('#accordionSidenavPages a.active').parent().parent().addClass('show');
  // console.log(id);
} else {
  $('#takeonebar').addClass('slamdown');
}
});

</script>
<script>
  $( "#sortable, #sortable2" ).sortable();
</script>
  <script>
  $(".alert").delay(3000).fadeOut();
  </script>


  <script type="text/javascript">
  $.datetimepicker.setLocale('en');
  $('.datetimepickerget').datetimepicker({
  lang:'en',
  formatDate:'d.m.Y',
  step:5,
  startDate:  new Date()
   });
  </script>
  <script type="text/javascript">
  $('.datepicker').datepicker({
  lang:'en',
  formatDate:'d.m.Y',
  step:5,
  });
  </script>
<script>
  function isNumberKey(evt){
      //var e = evt || window.event;
  
     var charCode = (evt.which) ? evt.which : evt.keyCode
      if (charCode != 46 && charCode > 31
     && (charCode < 48 || charCode > 57))
  
       false;
    else {
         var itemdecimal = evt.srcElement.value.split('.');
         if (itemdecimal.length > 1 && charCode == 46)
              false;
  
          true;
    }
  }
  
  </script>
  <script type="text/javascript">
   $(document).ready(function(){
$('#select_all').on('click',function(){
   if(this.checked){
       $('.checkbox').each(function(){
           this.checked = true;
       });
   }else{
        $('.checkbox').each(function(){
           this.checked = false;
       });
   }
});

$('.checkbox').on('click',function(){
   if($('.checkbox:checked').length == $('.checkbox').length){
       $('#select_all').prop('checked',true);
   }else{
       $('#select_all').prop('checked',false);
   }
});
});
</script>
<script>
function isNumberKey(evt){
  //var e = evt || window.event;

 var charCode = (evt.which) ? evt.which : evt.keyCode
  if (charCode != 46 && charCode > 31
 && (charCode < 48 || charCode > 57))

  return false;
else {
     var itemdecimal = evt.srcElement.value.split('.');
     if (itemdecimal.length > 1 && charCode == 46)
         return false;

     return true;
}
}

</script>

<script>
/*jslint browser:true*/
/*global jQuery, document*/

jQuery(document).ready(function () {
    'use strict';

    jQuery('#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date').datetimepicker();
});
</script>

<script>
   $(function() {
            $('#refer_code').keyup(function() {
                this.value = this.value.toLocaleUpperCase();
            });
        });
function copyToClipboard(element,element1) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();

    $(element1).addClass("copied_success animated bounceIn");
    setTimeout(RemoveClass, 1000);
function RemoveClass() {
    $(element1).removeClass("copied_success animated bounceIn");
}
}
</script>
