
<%- include("../../partials/head") %>

<%- include("../../partials/bodyStartWithNavBar/") %>
<%- include("../../partials/sideNav") %>
<%- include("../../partials/alertMsg") %>
<div id="layoutSidenav_content">
    <main>

        <div class="page-header pb-10 page-header-dark bg-info">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">

                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                <span class=" text-capitalize">
                                        Team Manager
                                </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                    View All Teams
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-md-0 mb-3">
                        <a
                        href="/add_team_page"
                        class="btn btn-sm btn-light font-weight-bold text-uppercase text-primary float-right"
                        data-toggle="tooltip"
                        title="Add Youtuber"
                        ><i class="fas fa-plus"></i>&nbsp; Add Team</a
                      >
                                                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            <div class="row">
<div class="col-md-12">
<div class="card mb-3">
<div class="card-heading p-3">
  <form method="get" action="/view-teams">
                          <div class="sbp-preview position-relative">
            <div class="form-group">
                <div class="row mx-0 align-items-center">
                
                    <div class="col-md col-12">
                        <div class="form-group my-3">
                            <label for="name" class="">Team Name</label>
                            <% if(teamName) {%>
                              <input value="<%=teamName %>"  id="teamName" class="form-control form-control-solid" name="teamName" type="text">
                          <%}else{ %>
                              <input  placeholder="Search By Name" id="teamName" class="form-control form-control-solid" name="teamName" type="text">
                          <% }%>
                        </div>
                    </div>
                    <div class="col-md-auto col-12 mt-md-4 pt-md-1 text-right">
                      <button class="btn btn-sm btn-success text-uppercase"><i class="far fa-check-circle"></i>&nbsp;Submit</button>
                        <a href="/view-teams" class="btn btn-sm btn-warning text-uppercase"><i class="far fa-undo" ></i>&nbsp; Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>

<div class="card mb-4">
<div class="card-header">
<div class="row w-100 align-items-center mx-0">
    <div class="col-md col-12 mb-md-0 mb-2 text-md-left text-center">View All Teams</div>
</div>
</div>
<div class="card-body">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.css">
<div class="datatable table-responsive">
    <table class="table table-bordered table-striped table-hover text-center text-nowrap" id="view_team_datatable" width="100%" cellspacing="0">
        <thead>
    <tr>

      <th class="myclass">Sno.</th>
      <th class="myclass1">Team Name</th>
      <th class="myclass2">Team Short Name</th>
      <th class="myclass3">Team logo</th>
      <th class="myclass4">Action</th>
    </tr>
    </thead>
     <tbody>
  </tbody>
  <tfoot>
      <tr>
          <th>Sno.</th>
          <th>Team Name</th>
          <th>Team Short Name</th>
          <th>Team logo</th>
          <th>Action</th>
      </tr>
  </tfoot>
    </table>
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  var teamName = $('#teamName').val();
    var end_date = $('#end_date').val();
    // var fantasy_type = $('#fantasy_type').val();
    $.fn.dataTable.ext.errMode = 'none';
    $('#view_team_datatable').DataTable({
        searching: false,
        language: {
              zeroRecords: "No records to display",
            },
        ajax: {
            url: `/teams-Data-Table?teamName=${teamName}`,
            type: 'post',
            dataSrc: 'data',
            error: function() {
                console.log(error)
            }
        },
        "lengthMenu": [
            [10, 25, 50, 100, 1000, 10000],
            [10, 25, 50, 100, 1000, 10000]
        ],
        columns: [{
            data: "count"
        }, {
            data: "teamName"
        },{
            data: "short_name"
        }, {
            data: "logo"
        }, {
            data: "Action",orderable: false
        }, ]
    })

});

</script>
        </div>
    </main>
<%- include("../../partials/footer") %>

<script>

    $(window).on('load', function(){

       $('#preloader_admin').hide();

      })
  </script>


<script>
$(document).ready(function(){
  
if ($('#accordionSidenavPages a').hasClass('active')){
  $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
  $('#accordionSidenavPages a.active').parent().parent().addClass('show');
  // console.log(id);
} else {
  $('#takeonebar').addClass('slamdown');
}
});

</script>


</script>


