<%- include("../../partials/head") %>

<%- include("../../partials/bodyStartWithNavBar/") %>
<%- include("../../partials/sideNav") %>
<%- include("../../partials/alertMsg") %> 
<div id="layoutSidenav_content">
  <main>

    <div class="page-header pb-10 page-header-dark bg-info">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col">
            <div class="page-header-content">
                <h1 class="page-header-title fs-md-35 fs-20">

                  <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                  <span class=" text-capitalize">
                    Popup Manager
                  </span>
              </h1>
             
              <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
              </div>
            </div>
          </div>
          <div class="col-auto mb-md-0 mb-3">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-n10">


      <div class="content-wrapper">
        <div class="container-fluid">

          <!-- Breadcrumb-->
          <div class="row pt-2 pb-2">
            <div class="col-sm-12">
              <!-- <h4 class="page-title">Popup Manager</h4> -->
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Popup Manager</li>
                <li class="breadcrumb-item active" aria-current="page">Add New Popup</li>
              </ol>
            </div>
          </div>
          <!-- End Breadcrumb-->

          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <a href="/popup" class="btn btn-info" style="float: right;"><i class="fa fa-eye"></i> View
                    All Popup</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Add Popup</div>
                  <hr>
                  <form enctype="multipart/form-data" class="form-horizontal form-label-left"
                    action="/add-popup-data" method="post">

                    <div style="text-align:center">

                    </div>

                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="position-relative form-group">
                          <label for="title" class="">Title</label>
                          <input required="true" name="title" id="title" placeholder="Enter Title" type="text"
                            class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="typename" value="popup_notify">
                      <!-- <label for="Image*" class="control-label text-bold">Image*</label><br>
                      <input required name="image" class="" type="file" required="true"> -->
                      <div class="row justify-content-center py-0">
                        <h1 class="fs-14 font-weight-bold text-center mt-3 col-12">Image</h1>
                        <div class="avatar-upload col-auto position-relative">
                            <div class="avatar-edit position-absolute right-0px z-index-1 top-2px">
                                <input type="file" name="image" id="image" accept=".png" class="imageUpload d-none" required="">
                                <label class="d-grid w-40px h-40px mb-0 rounded-pill bg-white text-success fs-20 shadow pointer font-weight-normal align-items-center justify-content-center" for="image"><i class="fad fa-pencil"></i></label>
                            </div>
                            <div class="avatar-preview w-100px h-100px position-relative rounded-pill shadow">
                                
                                <div class="w-100 h-100 rounded-pill" id="image-imagePreview" style="background-image: url('/uploadImage/defaultImage.jpg');">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class=" btn text-white px-5" style="margin-left:7px;background: #1e347e;"><i
                          class="fa fa-sign-in"></i>&nbsp; Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
</main>
<%- include("../../partials/footer") %>

<script>
  $(window).on('load', function () {

    $('#preloader_admin').hide();

  })
</script>


<script>
  $(document).ready(function () {
    if ($('#accordionSidenavPages a').hasClass('active')) {
      $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
      $('#accordionSidenavPages a.active').parent().parent().addClass('show');
      // console.log(id);
    } else {
      $('#takeonebar').addClass('slamdown');
    }
  });
</script>

<script>
  function readURL(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
          $('#' + input.id + '-imagePreview').css('background-image', 'url('+e.target.result +')');
          $('#' + input.id + '-imagePreview').hide();
          $('#' + input.id + '-imagePreview').fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
  }
}
$(".imageUpload").change(function() {
  readURL(this);
});
</script>

<script>
  function isNumberKey(evt) {
    //var e = evt || window.event;

    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (charCode != 46 && charCode > 31 &&
      (charCode < 48 || charCode > 57))

      return false;
    else {
      var itemdecimal = evt.srcElement.value.split('.');
      if (itemdecimal.length > 1 && charCode == 46)
        return false;

      return true;
    }
  }
</script>




<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#' + input.id + '-imagePreview').css('background-image', 'url(' + e.target.result + ')');
        $('#' + input.id + '-imagePreview').hide();
        $('#' + input.id + '-imagePreview').fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $(".imageUpload").change(function () {
    readURL(this);
  });
</script>






<script>
  // This is only for the Inputs to work dynamically

  function setTheme(H, inputType) {
    // Convert hex to RGB first
    let r = 0,
      g = 0,
      b = 0;
    if (H.length == 4) {
      r = "0x" + H[1] + H[1];
      g = "0x" + H[2] + H[2];
      b = "0x" + H[3] + H[3];
    } else if (H.length == 7) {
      r = "0x" + H[1] + H[2];
      g = "0x" + H[3] + H[4];
      b = "0x" + H[5] + H[6];
    }
    // Then to HSL
    r /= 255;
    g /= 255;
    b /= 255;
    let cmin = Math.min(r, g, b),
      cmax = Math.max(r, g, b),
      delta = cmax - cmin,
      h = 0,
      s = 0,
      l = 0;

    if (delta == 0)
      h = 0;
    else if (cmax == r)
      h = ((g - b) / delta) % 6;
    else if (cmax == g)
      h = (b - r) / delta + 2;
    else
      h = (r - g) / delta + 4;

    h = Math.round(h * 60);

    if (h < 0)
      h += 360;

    l = (cmax + cmin) / 2;
    s = delta == 0 ? 0 : delta / (1 - Math.abs(2 * l - 1));
    s = +(s * 100).toFixed(1);
    l = +(l * 100).toFixed(1);

    document.documentElement.style.setProperty(`--${inputType}-color-h`, h);
    document.documentElement.style.setProperty(`--${inputType}-color-s`, s + '%');
    document.documentElement.style.setProperty(`--${inputType}-color-l`, l + '%');

    hsl = h + ' ' + s + ' ' + l + '';

    //   $('#'+inputType+'-color-input').val( hsl );

    $('input[name="input[' + inputType + '_hsl]"').val(hsl);
  }

  const inputs = ['primary', 'secondary', 'info', 'success', 'danger', 'warning', 'muted', 'dark', 'light', 'black',
    'white', 'blue', 'indigo', 'purple', 'pink', 'red', 'orange', 'yellow', 'green', 'teal', 'cyan', 'gray',
    'graydark'
  ];

  inputs.forEach((inputType) => {
    document.querySelector(`#${inputType}-color-input`)
      .addEventListener('change', (e) => {
        setTheme(e.target.value, inputType);

      });

  });
</script>


<script>
  /*jslint browser:true*/
  /*global jQuery, document*/

  jQuery(document).ready(function () {
    'use strict';

    jQuery(
      '#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date'
      ).datetimepicker();
  });
</script>

<script>
  function copyToClipboard(element, element1) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();

    $(element1).addClass("copied_success animated bounceIn");
    setTimeout(RemoveClass, 1000);

    function RemoveClass() {
      $(element1).removeClass("copied_success animated bounceIn");
    }
  }
</script>

<script>
  function delete_sweet_alert(url, msg) {
    // sweet alert
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-sm btn-success ml-2',
        cancelButton: 'btn btn-sm btn-danger'
      },
      buttonsStyling: false
    })

    swalWithBootstrapButtons.fire({
      title: msg,
      text: "You won't be able to revert this!",
      icon: 'success',
      showCancelButton: true,
      confirmButtonText: 'Yes',
      cancelButtonText: 'No',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {

        swalWithBootstrapButtons.fire(
          '',
          'Successfully Done',
          'success'
        );

        window.location.href = url;


      } else if (
        /* Read more about handling dismissals below */
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Cancelled',
          'Cancelled successfully :)',
          'error'
        );
        return false;
      }
    })
  }
</script>