<%- include("../../partials/head") %>

    <%- include("../../partials/bodyStartWithNavBar/") %>
        <%- include("../../partials/sideNav") %>
<div id="layoutSidenav_content">
    <main>

        <div class="page-header pb-10 page-header-dark bg-info">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">

                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                <span class=" text-capitalize">
                                    Verification Manager
                                </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                Pan Card Verification Requests 
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-md-0 mb-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            
<div class="row">
<div class="col-md-12">
<div class="card mb-3">
<div class="card-heading p-3">
  <form method="get" action="/verifypan">
                          <div class="sbp-preview position-relative">
            <div class="form-group">
                <div class="row mx-0 align-items-end">

                    <div class="col-md-6">
                        <div class="form-group my-3">
                            <label for="Status" class="control-label text-bold ">Status</label>
                            <% if(selectQuery) {%>
                              <select class="form-control form-control-solid input-sm p-1 selectpicker show-tick" data-container="body" data-live-search="true" title="Select Status" data-hide-disabled="true" name="status" id="status">
                                <option value="">Select Status</option>                    
                <option value="1" <%=selectQuery == 1 ? 'selected' : '' %>  >Activated</option>
                <option value="0" <%=selectQuery == 0 ? 'selected' : '' %>  >Pending</option>
                <option value="2" <%=selectQuery == 2 ? 'selected' : '' %>  >Cancel</option>
                            </select>
                            <% } else{%>  
                              <select class="form-control form-control-solid input-sm p-1 selectpicker show-tick" data-container="body" data-live-search="true" title="Select Status" data-hide-disabled="true" name="status" id="status">
                                <option value="">Select Status</option>
                                <option value="1" >Activated</option>
                                    <% if(pending == {}) {%>
                                        <option value="0" >Pending</option>
                                        <% } else{%>  
                                            <option value="0" selected>Pending</option>
                                     <% }%>  
                                <option value="2" >Cancel</option>
                            </select>
                           <% }%>                      
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group my-3">
                            <label for=" Name" class="control-label text-bold input-sm"> Name</label>
                            <% if(Name) {%>
    <input value="<%=Name %>" placeholder="Search By Name" id="name" class="form-control form-control-solid" name="name" type="text">
                            <%}else{ %>
    <input value="" placeholder="Search By  Name" id="name" class="form-control form-control-solid" name="name" type="text">
                            <% }%>    
                    </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group my-3">
                            <label for="Email" class="control-label text-bold">Email</label> 
                            <% if(emailValue) {%>
                              <input value="<%=emailValue %>" placeholder="Search By Email" id="email" class="form-control form-control-solid" name="email" type="text">
                              <%}else{ %>
                              <input value="" placeholder="Search By Email" id="email" class="form-control form-control-solid" name="email" type="text">
                              <% }%> 
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group my-3">
                            <label for="Mobile" class="control-label text-bold">Mobile</label>
                         
                            <% if(mobileNo) {%>
              <input value="<%=mobileNo %>" placeholder="Search By Mobile" id="mobile" class="form-control form-control-solid" maxlength="10" name="mobile" type="number">
                             <%}else{ %>
              <input value="" placeholder="Search By Mobile" id="mobile" class="form-control form-control-solid" maxlength="10" name="mobile" type="number">
                             <% }%> 
                            </div>
                    </div>
                    <div class="col-md-auto text-right mb-md-3">

                        <button class="btn btn-sm btn-success text-uppercase"><i class="far fa-check-circle"></i>&nbsp;Submit</button>
                        <a href="/verifypan" class="btn btn-sm btn-warning text-uppercase"><i class="far fa-undo" ></i>&nbsp; Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>

<div class="card mb-4">
<div class="card-header">
<div class="row w-100 align-items-center mx-0">
    <div class="col-md col-12 mb-md-0 mb-2 text-md-left text-center">Pan Card Verification Requests List</div>
    <div class="col-md-auto col-12 px-md-3 px-0 text-center">
          <form action="/downloadPanVerify" method="get">
            <div class="form-group" style="display: none;">
                <div class="row mx-0 align-items-end">

                    <div class="col-md-6">
                        <div class="form-group my-3">
                            <label for="Status" class="control-label text-bold ">Status</label>
                            <% if(selectQuery) {%>
                              <select class="form-control form-control-solid input-sm p-1 selectpicker show-tick" data-container="body" data-live-search="true" title="Select Status" data-hide-disabled="true" name="status" id="status">
                                <option value="">Select Status</option>                    
                <option value="1" <%=selectQuery == 1 ? 'selected' : '' %>  >Activated</option>
                <option value="0" <%=selectQuery == 0 ? 'selected' : '' %>  >Pending</option>
                <option value="2" <%=selectQuery == 2 ? 'selected' : '' %>  >Cancel</option>
                            </select>
                            <% } else{%>  
                              <select class="form-control form-control-solid input-sm p-1 selectpicker show-tick" data-container="body" data-live-search="true" title="Select Status" data-hide-disabled="true" name="status" id="status">
                                <option value="">Select Status</option>
                                <option value="1" >Activated</option>
                                    <% if(pending == {}) {%>
                                        <option value="0" >Pending</option>
                                        <% } else{%>  
                                            <option value="0" selected>Pending</option>
                                     <% }%>  
                                <option value="2" >Cancel</option>
                            </select>
                           <% }%>                      
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group my-3">
                            <label for=" Name" class="control-label text-bold input-sm"> Name</label>
                            <% if(Name) {%>
    <input value="<%=Name %>" placeholder="Search By Name" id="name" class="form-control form-control-solid" name="name" type="text">
                            <%}else{ %>
    <input value="" placeholder="Search By  Name" id="name" class="form-control form-control-solid" name="name" type="text">
                            <% }%>    
                    </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group my-3">
                            <label for="Email" class="control-label text-bold">Email</label> 
                            <% if(emailValue) {%>
                              <input value="<%=emailValue %>" placeholder="Search By Email" id="email" class="form-control form-control-solid" name="email" type="text">
                              <%}else{ %>
                              <input value="" placeholder="Search By Email" id="email" class="form-control form-control-solid" name="email" type="text">
                              <% }%> 
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group my-3">
                            <label for="Mobile" class="control-label text-bold">Mobile</label>
                         
                            <% if(mobileNo) {%>
              <input value="<%=mobileNo %>" placeholder="Search By Mobile" id="mobile" class="form-control form-control-solid" maxlength="10" name="mobile" type="number">
                             <%}else{ %>
              <input value="" placeholder="Search By Mobile" id="mobile" class="form-control form-control-solid" maxlength="10" name="mobile" type="number">
                             <% }%> 
                            </div>
                    </div>
                    <div class="col-md-auto text-right mb-md-3">

                        <button class="btn btn-sm btn-success text-uppercase"><i class="far fa-check-circle"></i>&nbsp;Submit</button>
                        <a href="/verifypan" class="btn btn-sm btn-warning text-uppercase"><i class="far fa-undo" ></i>&nbsp; Reset</a>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary text-uppercase btn-sm rounded-pill" font-weight-600 data-toggle="tooltip" title="Download All Users Details"><i class="fas fa-download"></i>&nbsp; Download
            </button>
        </form>
    </div>
</div>
</div>
<div class="card-body">


<div class="datatable table-responsive">
    <table class="table table-bordered table-hover text-nowrap" id="view_users_datatable" width="100%" cellspacing="0">
        <thead>
    <tr>

      <th data-toggle="tooltip" title="User ID">S NO.</th>
      <th>UID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile No.</th>
    <th>D.O.B</th>
    <th>PAN number</th>
    <th>Image</th>
    <th>status</th>
    <th data-toggle="tooltip" title="Your Comment">Y.C</th>
    <th data-toggle="tooltip" title="Uploading Date">U. Date</th>
    <th>Action</th>
    </tr>
    </thead>
     <tbody>
  </tbody>
  <tfoot>
      <tr>
          <th data-toggle="tooltip" title="User ID">S NO.</th>
          <th>UID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No.</th>
        <th>D.O.B</th>
        <th>PAN number</th>
        <th>Image</th>
        <th>status</th>
        <th data-toggle="tooltip" title="Your Comment">Y.C</th>
        <th data-toggle="tooltip" title="Uploading Date">U. Date</th>
        <th>Action</th>
      </tr>
  </tfoot>
    </table>
</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
var name = document.getElementById('name').value;
var email = document.getElementById('email').value;
var mobile = document.getElementById('mobile').value;
var status = document.getElementById('status').value;
$('#view_users_datatable').DataTable({
  searching:false,
  processing: false,
//   serverSide: true,
language: {
                            zeroRecords: "No records to display"
                        },
    ajax: {
        url: `/verifypan-datatable?&name=${name}&email=${email}&mobile=${mobile}&status=${status}`,
        type: "POST",
    },
  columns: [
    { data: "S_NO" },
    { data: "UID" },
    { data: "Name" },
    { data: "Email" },
    { data: "Mobile_No"},
    { data: "DOB" },
    { data: "PAN_Number"},
    { data: "Image" },
    { data: "status" },
    { data: "Comment" },
    { data: "Uploading_Date"},
    { data: "Action" },
]
});
});
</script>
<script>
$(document).ready(function() {
$.ajaxSetup({
    headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    }
});
});
</script>
</div>
</main>
<%- include("../../partials/footer") %>

<script>
$(window).on('load', function(){  
$('#preloader_admin').hide();
})
</script>
<script>
          $(document).ready(function (){
              var table = $('#dataTabless').DataTable({
                  'responsive': true
              });
      
              // Handle click on "Expand All" button
              $('#btn-show-all-children').on('click', function(){
                  // Expand row details
                  table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
              });
      
              // Handle click on "Collapse All" button
              $('#btn-hide-all-children').on('click', function(){
                  // Collapse row details
                  table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
              });
          });
</script>
<script>
  $(document).ready(function(){
      
    if ($('#accordionSidenavPages a').hasClass('active')){
      $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
      $('#accordionSidenavPages a.active').parent().parent().addClass('show');
      // console.log(id);
    } else {
      $('#takeonebar').addClass('slamdown');
    }
  });
  
</script>
      <script type="text/javascript">
       $(document).ready(function(){
   $('#select_all').on('click',function(){
       if(this.checked){
           $('.checkbox').each(function(){
               this.checked = true;
           });
       }else{
            $('.checkbox').each(function(){
               this.checked = false;
           });
       }
   });
  
   $('.checkbox').on('click',function(){
       if($('.checkbox:checked').length == $('.checkbox').length){
           $('#select_all').prop('checked',true);
       }else{
           $('#select_all').prop('checked',false);
       }
   });
  });
  </script>
  
  <script>
    /*jslint browser:true*/
    /*global jQuery, document*/
  
    jQuery(document).ready(function () {
        'use strict';
  
        jQuery('#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date').datetimepicker();
    });
  </script>
  