<%- include("../../partials/head") %>

    <%- include("../../partials/bodyStartWithNavBar/") %>
        <%- include("../../partials/sideNav") %>
            <div id="layoutSidenav_content">
                <main>
                    <%- include("../../partials/alertMsg") %>
                    <div class="page-header pb-10 page-header-dark bg-info">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="page-header-content">
                                        <h1 class="page-header-title fs-md-35 fs-20">

                                            <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                            <span class=" text-capitalize">
                                    Series Manager
                            </span>
                                        </h1>
                                        <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                            View All Series
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto mb-md-0 mb-3">
                                    <a href="/add-series" class="btn btn-sm btn-light font-weight-bold text-uppercase text-primary text-uppercase"><i class="fa fa-plus"></i>&nbsp; Add New Series</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-n10">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-3">

                                    <div class="card-heading p-3">
                                        <form  action="/view-series" autocomplete="off">
                                            <div class="sbp-preview position-relative">
                                                <div class="form-group">
                                                    <div class="row mx-0">
                                                        <div class="col-md-6">
                                                            <div class="form-group my-3">
                                                                <label for="Series Name" class="text-bold">Series Name</label>
                                                                <% if(seriesName) {%>
                                                                    <input value="<%=seriesName %>" id="seriesName" class="form-control form-control-solid" name="seriesName" type="text">
                                                                    <%}else{ %>
                                                                        <input placeholder="Search By Name" id="seriesName" class="form-control form-control-solid" name="seriesName" type="text">
                                                                        <% }%>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group my-3">
                                                                <label for="start_date" class="">Start Date</label>
                                                                <% if(start_date) {%>
                                                                    <input class="form-control form-control-solid datetimepickerget" name='start_date' type="text" value="<%=start_date %>" id="start_date">
                                                                    <%}else{ %>
                                                                        <input class="form-control form-control-solid datetimepickerget" name='start_date' type="text" id="start_date" placeholder="Search by start date">
                                                                        <% }%>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group my-3">
                                                                <label for="end_date" class="">End Date</label>
                                                                <% if(end_date) {%>
                                                                    <input class="form-control form-control-solid datetimepickerget" name='end_date' type="text" value="<%=end_date %>" id="end_date">
                                                                    <%}else{ %>
                                                                        <input class="form-control form-control-solid datetimepickerget" name='end_date' type="text" id="end_date" placeholder="Search by end date">
                                                                        <% }%>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group my-3">
                                                                <label for="team" class="">Type</label>
                                                                <% if(fantasy_type) {%>
                                                                    <input class="form-control form-control-solid datetimepickerget" name='fantasy_typ' type="hidden" value="<%=fantasy_type %>" id="fantasy_type">
                                                                        <% }%>
                                                                <select class="form-control form-control-solid selectpicker show-tick"
                                                                  data-container="body" data-live-search="true" title="Select Type"
                                                                  data-hide-disabled="true" name="fantasy_type" id="type">
                                                                  <option value="" selected>Select Type</option>
                                                             <% for(let i=0;i< type.length;i++){%>
                                                                <option value="<%=type[i].value%>"><%=type[i].Name%></option>
                                                                <%}%>
                                
                                                                </select>
                                                              </div>
                                                        </div>

                                                        <div class="col-12 text-right mt-4 mb-2">
                                                            <button class="btn btn-sm btn-success text-uppercase" type="submit"><i class="far fa-check-circle"></i>&nbsp;Submit</button>
                                                            <a href="/view-series" class="btn btn-sm btn-warning text-uppercase" type="reset"><i class="far fa-undo" ></i>&nbsp; Reset</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">View All Series</div>
                            <div class="card-body">
                                <div class="datatable table-responsive">
                                    <table class="table table-bordered table-striped table-hover text-nowrap" id="series_datatable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <!-- <th>Sno.</th> -->
                                                <th>Fantasy Type</th>
                                                <th>Series Name</th>
                                                <th>Start date</th>
                                                <th>End date</th>
                                                <th>Series Status</th>
                                                <th>LeaderBoard</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <!-- <th>Sno.</th> -->
                                                <th>Fantasy Type</th>
                                                <th>Series Name</th>
                                                <th>Start date</th>
                                                <th>End date</th>
                                                <th>Series Status</th>
                                                <th>LeaderBoard</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script> -->
                        <script type="text/javascript">
                            $(document).ready(function() {
                                var seriesName = $('#seriesName').val();
                                var start_date = $('#start_date').val();
                                var end_date = $('#end_date').val();
                                var fantasy_type = $('#fantasy_type').val() || ""
                             
                                $.fn.dataTable.ext.errMode = 'none';
                                $('#series_datatable').DataTable({
                                    searching: false,
                                    language: {
              zeroRecords: "No records to display",
            },
                                    ajax: {
                                        url: `/series-Data-Table?seriesName=${seriesName}&start_date=${start_date}&end_date=${end_date}&fantasy_type=${fantasy_type}`,
                                        type: 'post',
                                        dataSrc: 'data',
                                        error: function() {
                                            console.log(error)
                                        }
                                    },
                                    "lengthMenu": [
                                        [10, 25, 50, 100, 1000, 10000],
                                        [10, 25, 50, 100, 1000, 10000]
                                    ],
                                    columns: [{
                                        data: "fantasy_type"
                                    }, {
                                        data: "name"
                                    }, {
                                        data: "start_date"
                                    }, {
                                        data: "end_date"
                                    }, {
                                        data: "status"
                                    },  {
                                        data: "has_leaderBoard"
                                    },{
                                        data: "Actions",orderable: false
                                    }, ]
                                })

                            });
                        </script>

                    </div>
                </main>
                <%- include("../../partials/footer") %>

                    <script>
                        $(window).on('load', function() {

                            $('#preloader_admin').hide();

                        })
                    </script>

                    <script>
                        $(document).ready(function() {

                            if ($('#accordionSidenavPages a').hasClass('active')) {
                                $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
                                $('#accordionSidenavPages a.active').parent().parent().addClass('show');
                                // console.log(id);
                            } else {
                                $('#takeonebar').addClass('slamdown');
                            }
                        });
                    </script>
                    

                    <script type="text/javascript">
                        $.datetimepicker.setLocale('en');
                        $('.datetimepickerget').datetimepicker({
                            lang: 'en',
                            formatDate: 'd.m.Y',
                            step: 5,
                            startDate: new Date()
                        });
                    </script>
                    <script type="text/javascript">
                        $('.datepicker').datepicker({
                            lang: 'en',
                            formatDate: 'd.m.Y',
                            step: 5,
                        });
                    </script>
