<%- include("../../partials/head") %>

<%- include("../../partials/bodyStartWithNavBar/") %>

<%- include("../../partials/sideNav") %>
<div id="layoutSidenav_content">
    <main>
        <%- include("../../partials/alertMsg") %>
        <div class="page-header pb-10 page-header-dark bg-info">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">

                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                <span class=" text-capitalize">
                                    Result Manager
                                </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                Match Score
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-md-0 mb-3">
                         

                      <%  finalresult.forEach((item)=>{ %>

                        <% if(item.final_status=="winnerdeclared"){ %>
                            <span>winnerdeclared </span>
                            <% if(item.youtuberStatus==false){ %>
                            <a href='/giveYoutuberBonus?matchkey=<%=matchID%>' class="btn btn-sm btn-success" style="margin-left:10px;">Give Youtuber Bonus</a>
                            <% } %>
                      <%  } else{ %>
                        <span>pending </span>
                        <a href='/update_results_of_matches_refresh?real_matchkey=<%=item.real_matchkey%>&matchkey=<%=matchID%>' class="btn btn-sm text-uppercase btn-info" data-toggle="tooltip"
                        title="Refresh Scores"><i class="far fa-undo"></i>&nbsp; Refresh </a>
                        <% } }); %>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-heading p-3">
                            <form action="/match-score/<%= matchID %>" method="GET">
                                <div class="sbp-preview position-relative">
                                    <div class="form-group">
                                        <div class="row mx-0 align-items-end">
                                            <div class="col-md">
                                                <div class="form-group my-3">
                                                    <label for="Enter Player Name" class="text-bold">Enter
                                                        Player Name</label>
                                                    <% if(name) { %>
                                                    <input name="player_name" id="player_name"
                                                        placeholder="Enter Player Name"
                                                        class="form-control form-control-solid" value="<%= name %>">
                                                    <% } else { %>
                                                    <input name="player_name" id="player_name"
                                                        laceholder="Enter Player Name"
                                                        class="form-control form-control-solid" value="">
                                                    <% } %>
                                                </div>
                                            </div>

                                            <div class="col-md-auto text-right mb-md-3">
                                                <button class="btn btn-sm btn-success text-uppercase"><i
                                                        class="far fa-check-circle"></i>&nbsp;Submit</button>
                                                <button type="reset" value="Reset"
                                                    class="btn btn-sm btn-warning text-uppercase"
                                                    onclick="window.location.href='/match-score/<%= matchID %>'"><i
                                                        class="far fa-undo"></i>&nbsp;
                                                    Reset</buttom>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <link rel="stylesheet" type="text/css"
                href="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.css">
            <div class="row mx-0">
                <div class="col-lg-12">
                    <ul
                        class="row text-center bg-white shadow rounded overflow-hidden match_points_tabses list-unstyled">
                        <li class="col-md p-0"><a
                                class="py-3 text-decoration-none font-weight-bold text-uppercase w-100 d-block active"
                                href="/match-score/<%= matchID %>">Match
                                Score</a></li>
                        <li class="col-md p-0"><a
                                class="py-3 text-decoration-none font-weight-bold text-uppercase border-left w-100 d-block"
                                href="/match-points/<%= matchID %>">Match
                                Points</a></li> 
                        <li class="col-md p-0"><a
                                class="py-3 text-decoration-none font-weight-bold text-uppercase border-left w-100 d-block"
                                href="/batting-points/<%= matchID %>">BATTING</a>
                        </li>
                        <li class="col-md p-0"><a
                                class="py-3 text-decoration-none font-weight-bold text-uppercase border-left w-100 d-block"
                                href="/bowling-points/<%= matchID %>">BOWLING</a>
                        </li>
                        <li class="col-md p-0"><a
                                class="py-3 text-decoration-none font-weight-bold text-uppercase border-left w-100 d-block"
                                href="/fielding-points/<%= matchID %>">FIELDING</a>
                        </li>
                        <li class="col-md p-0"><a
                                class="py-3 text-decoration-none font-weight-bold text-uppercase border-left w-100 d-block"
                                href="/team-points/<%= matchID %>">TEAM</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <div class="row w-100 align-items-center mx-0">
                        <div class="col-md col-12 mb-md-0 mb-2 text-md-left text-center">Match Score</div>
                        <div class="col-md-auto col-12 px-md-3 px-0 text-center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="btn-show-all-children" class="btn btn-sm text-uppercase btn-success"
                                    type="button">Expand
                                    All</button>
                                <button id="btn-hide-all-children" class="btn btn-sm text-uppercase btn-danger"
                                    type="button">Collapse
                                    All</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <script>
                        $(window).on("load", function () {

                            var success = '';
                            var danger = '';
                            var error = '';
                            var warning = '';

                            if (success) {
                                $("#toastBasic4").toast('show');
                            }

                            if (danger || error) {
                                $("#toastBasic3").toast('show');
                            }

                            if (warning) {
                                $("#toastBasic2").toast('show');
                            }
                        });
                    </script>

                    <div class="datatable table-responsive">
                        <table id="match_score"
                            class="table table-bordered table-striped table-hover text-nowrap display" cellspacing="0"
                            width="100%" role="grid" aria-describedby="demo-dt-basic_info" style="width: 100%;">
                            <input type="hidden" id="matchID" name="matchID" value="<%= matchID %>">
                            <thead>
                                <tr>
                                    <th>Overs</th>
                                    <th>Team Name</th>
                                    
                                    <th>Fours</th>
                                    <th>Sixs</th>
                                    
                                    <th>Maidens</th>
                                    
                                    <th>Wickets</th>
                                                                    </tr>
                            </thead>
                        </table>



                    </div>
                </div>
            </div>

        </div>
</div>
<!-- End container-fluid-->
</div>

<script>
    function update_points(matchkey, playerid, field, value) {
        Swal.fire(value);
        $.ajax({
            type: 'POST',
            url: '',
            data: '_token=RdxOQMO0fOyaRbyKf4FnPpOz2sqzGTNWfD0gIvle&matchkey=' + matchkey + '&playerid=' +
                playerid + '&field=' + field + '&value=' + value,
            success: function (data) {
                if (data == 1) {
                    location.reload();
                }
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'none';
        let matchID = $('#matchID').val();
        let player_name = $('#player_name').val();
        console.log(matchID);
        $('#match_score').DataTable({
            searching: false,
            responsive: true,
            language: {
                            zeroRecords: "No records to display"
                        },
            ajax: {
                url: `/match-score-table/${matchID}?player_name=${player_name}&fantasy_type=overfantasy`,
                type: 'POST'
            },
            lengthMenu: [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            columns: [
                {
                    data: "overs"
                },
                {
                    data: "teamName"
                },
                
                {
                    data: "fours"
                },
                {
                    data: "sixes"
                },
                {
                    data: "maidens"
                },
                
                {
                    data: "wickets"
                },
                            ]
        })
    });
</script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.js">
</script>

<script>
    $(document).ready(function () {
        var table = $('#match_score').DataTable({
            'responsive': true
        });

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function () {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger(
                'click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function () {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });
</script>

</div>
</main>

<%- include("../../partials/footer") %>

<script>
    $(window).on('load', function () {
        $('#preloader_admin').hide();
    })
</script>


<script>
    $('#b1').click(function () {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-sm btn-success',
                cancelButton: 'btn btn-sm btn-danger'
            },
            buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'success',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your imaginary file is safe :)',
                    'error'
                )
            }
        })
    });
</script>


<script>
    $(document).ready(function () {
        var table = $('#dataTabless').DataTable({
            'responsive': true
        });
        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function () {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });
        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function () {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });
</script>


<script>
    $('#special').on('click', function () {
        mySelect.find('option:selected').prop('disabled', true);
        mySelect.selectpicker('refresh');
    });
    $('#special2').on('click', function () {
        mySelect.find('option:disabled').prop('disabled', false);
        mySelect.selectpicker('refresh');
    });
    $('#basic2').selectpicker({
        liveSearch: true,
        maxOptions: 1
    });
</script>



<script>
    $(document).ready(function () {
        if ($('#accordionSidenavPages a').hasClass('active')) {
            $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
            $('#accordionSidenavPages a.active').parent().parent().addClass('show');
            // console.log(id);
        } else {
            $('#takeonebar').addClass('slamdown');
        }
    });
</script>

<script>
    $("#sortable, #sortable2").sortable();
</script>

<script>
    $(".alert").delay(3000).fadeOut();
</script>

<script type="text/javascript">
    $.datetimepicker.setLocale('en');
    $('.datetimepickerget').datetimepicker({
        lang: 'en',
        formatDate: 'd.m.Y',
        step: 5,
        startDate: new Date()
    });
</script>

<script type="text/javascript">
    $('.datepicker').datepicker({
        lang: 'en',
        formatDate: 'd.m.Y',
        step: 5,
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#select_all').on('click', function () {
            if (this.checked) {
                $('.checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
        $('.checkbox').on('click', function () {
            if ($('.checkbox:checked').length == $('.checkbox').length) {
                $('#select_all').prop('checked', true);
            } else {
                $('#select_all').prop('checked', false);
            }
        });
    });
</script>

<script>
    function isNumberKey(evt) {
        //    <!--Function to accept only numeric values-->
        //var e = evt || window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode != 46 && charCode > 31 &&
            (charCode < 48 || charCode > 57))
            return false;
        else {
            var itemdecimal = evt.srcElement.value.split('.');
            if (itemdecimal.length > 1 && charCode == 46)
                return false;
            return true;
        }
    }
</script>

<script>
    var usersarry = [];
    $("#selectusers").keyup(function () {
        var gettypevalue = $("#selectusers").val();
        if (gettypevalue != "") {
            $.ajax({
                type: 'POST',
                url: '',
                data: '_token=RdxOQMO0fOyaRbyKf4FnPpOz2sqzGTNWfD0gIvle&gettypevalue=' + gettypevalue +
                    '&userspresent=' + usersarry,
                success: function (data) {
                    $('#item_list').removeClass('d-none');
                    $('#boxx').removeClass('d-none');
                    $("#item_list").html(data);
                }
            });
        }
    });

    function set_item(item) {
        usersarry.push(item);
        $("#uservalues").val(usersarry);
        $("#selectusers").val('');
        $('#item_list').addClass('d-none');
        var gettext = $('#userid' + item).html();
        $("#showusers").append('<div class="col-md-6" id="showuserseses">' + gettext + '</div>');
        $('#boxx').addClass('d-none');
    }

    function deletediv(e, item) {
        usersarry.splice(usersarry.indexOf(item), 1);
        $("#uservalues").val(usersarry);
        // e.parentNode.parentNode.remove(e.parentNode);
        $('#showuserseses').remove();
    }
    $(function () {
        $(document).click(function () {
            $('#box').addClass('d-none'); //hide the button
            //$('#boxx').hide(); //hide the button
        });
    });
</script>

<script>
    function divshowhide(value) {
        if (value == 'specific') {
            $("#specificdiv").removeClass('d-none');
            $("#specificdiv1").show();
            $("#specificdiv2").show();
        } else {
            $("#specificdiv").addClass('d-none');
            $("#specificdiv1").hide();
            $("#specificdiv2").hide();
        }
    }

    function deletediv1(e, item) {
        $('#dsafd' + item).remove();
    }
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#' + input.id + '-imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#' + input.id + '-imagePreview').hide();
                $('#' + input.id + '-imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(".imageUpload").change(function () {
        readURL(this);
    });
</script>

<script>
    // This is only for the Inputs to work dynamically
    function setTheme(H, inputType) {
        // Convert hex to RGB first
        let r = 0,
            g = 0,
            b = 0;
        if (H.length == 4) {
            r = "0x" + H[1] + H[1];
            g = "0x" + H[2] + H[2];
            b = "0x" + H[3] + H[3];
        } else if (H.length == 7) {
            r = "0x" + H[1] + H[2];
            g = "0x" + H[3] + H[4];
            b = "0x" + H[5] + H[6];
        }
        // Then to HSL
        r /= 255;
        g /= 255;
        b /= 255;
        let cmin = Math.min(r, g, b),
            cmax = Math.max(r, g, b),
            delta = cmax - cmin,
            h = 0,
            s = 0,
            l = 0;
        if (delta == 0)
            h = 0;
        else if (cmax == r)
            h = ((g - b) / delta) % 6;
        else if (cmax == g)
            h = (b - r) / delta + 2;
        else
            h = (r - g) / delta + 4;
        h = Math.round(h * 60);
        if (h < 0)
            h += 360;
        l = (cmax + cmin) / 2;
        s = delta == 0 ? 0 : delta / (1 - Math.abs(2 * l - 1));
        s = +(s * 100).toFixed(1);
        l = +(l * 100).toFixed(1);
        document.documentElement.style.setProperty(`--${inputType}-color-h`, h);
        document.documentElement.style.setProperty(`--${inputType}-color-s`, s + '%');
        document.documentElement.style.setProperty(`--${inputType}-color-l`, l + '%');
        hsl = h + ' ' + s + ' ' + l + '';
        //   $('#'+inputType+'-color-input').val( hsl );
        $('input[name="input[' + inputType + '_hsl]"').val(hsl);
    }
    const inputs = ['primary', 'secondary', 'info', 'success', 'danger', 'warning', 'muted', 'dark', 'light', 'black',
        'white', 'blue', 'indigo', 'purple', 'pink', 'red', 'orange', 'yellow', 'green', 'teal', 'cyan', 'gray',
        'graydark'
    ];
    inputs.forEach((inputType) => {
        document.querySelector(`#${inputType}-color-input`)
            .addEventListener('change', (e) => {
                setTheme(e.target.value, inputType);
            });
    });
</script>

<script>
    /*jslint browser:true*/
    /*global jQuery, document*/
    jQuery(document).ready(function () {
        'use strict';
        jQuery(
                '#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date'
            )
            .datetimepicker();
    });
</script>

<script>
    function copyToClipboard(element, element1) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        $(element1).addClass("copied_success animated bounceIn");
        setTimeout(RemoveClass, 1000);

        function RemoveClass() {
            $(element1).removeClass("copied_success animated bounceIn");
        }
    }
</script>

<script>
    function delete_sweet_alert(url, msg) {
        // sweet alert
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-sm btn-success ml-2',
                cancelButton: 'btn btn-sm btn-danger'
            },
            buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
            title: msg,
            text: "You won't be able to revert this!",
            icon: 'success',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    '',
                    'Successfully Done',
                    'success'
                );
                window.location.href = url;
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Cancelled successfully :)',
                    'error'
                );
                return false;
            }
        })
    }
</script>
