<%- include("../../partials/head") %>

    <%- include("../../partials/bodyStartWithNavBar/") %>
        <%- include("../../partials/sideNav") %>
            <div id="layoutSidenav_content">
                <main>
                    <%- include("../../partials/alertMsg") %>
                    <div class="page-header pb-10 page-header-dark bg-info">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="page-header-content">
                                        <h1 class="page-header-title fs-md-35 fs-20">

                                            <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                            <span class=" text-capitalize">
                                        Match Manager
                                </span>
                                        </h1>
                                        <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                            Edit Match
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto mb-md-0 mb-3">
                                    <a href="/view-AllMatches" class="btn btn-sm btn-light font-weight-bold text-uppercase text-primary float-right" data-toggle="tooltip" title="View All Upcoming Matches"><i class="fas fa-eye"></i>&nbsp; View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-n10">

                        <div class="card">
                            <div class="card-header">Edit Existing Match</div>
                            <form class="card-body" action="/edit-match-data/<%=data._id %>" method="post">


                                <div class="sbp-preview">
                                    <div class="sbp-preview-content py-2">
                                        <div class="row mx-0">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Match Name*" class="control-label text-bold">Match Name*</label>
                                                    <% if(data.name) {%>
                                                        <input value="<%=data.name %>" required="" class="form-control form-control-solid" name="name" type="text">
                                                        <% }else{ %>
                                                            <input required="" placeholder="Enter match Name" class="form-control form-control-solid" name="name" type="text">
                                                            <% }%>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Match Start Date*" class="control-label text-bold">Match Start Date*</label>
                                                    <% if(data.start_date) {%>
                                                        <input class="form-control form-control-solid datetimepickerget" name='start_date' type="text" value="<%=data.start_date %>" id="start_date" required>
                                                        <% }else{ %>
                                                            <input class="form-control form-control-solid datetimepickerget" name='start_date' type="text" id="start_date" required placeholder="Enter Match Start Date">
                                                            <% }%>
                                                </div>
                                            </div>
                                            <!-- start notification -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="notification" class="control-label text-bold">Notification</label>
                                                    <% if(data.notification) {%>
                                                        <input class="form-control form-control-solid " name='notification' type="text" value="<%=data.notification %>" id="start_date" >
                                                        <% }else{ %>
                                                            <input class="form-control form-control-solid " name='notification' type="text" id="notification"  placeholder="Enter Notification">
                                                            <% }%>
                                                </div>
                                            </div>
                                            <!-- end notification -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Team1*" class="control-label text-bold">Team1*</label>
                                                    <% if(data.team1Name) {%>
                                                        <input value="<%=data.team1Name %>" disabled="" class="form-control form-control-solid" type="text">
                                                        <% }else{ %>
                                                            <input required="" placeholder="Team1" disabled="" class="form-control form-control-solid" type="text">
                                                            <% }%>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Team2*" class="control-label text-bold">Team2*</label>
                                                    <% if(data.team2Name) {%>
                                                        <input value="<%=data.team2Name %>" required="" disabled="" class="form-control form-control-solid" type="text">
                                                        <% }else{ %>
                                                            <input required="" placeholder="Team2" disabled="" class="form-control form-control-solid" type="text">
                                                            <% }%>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="match_order" class="control-label text-bold">match_order</label>
                                                    <% if(data.match_order) {%>
                                                        <input value="<%=data.match_order %>" name="match_order" class="form-control form-control-solid" type="number">
                                                        <% }else{ %>
                                                            <input  class="form-control form-control-solid" name="match_order" type="number">
                                                            <% }%>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="Match Format*" class="control-label text-bold">Match Format*</label>
                                                    <select class="form-control form-control-solid p-1" data-container="body" data-live-search="true" title="Select Match Format" data-hide-disabled="true" name="format" required="">
                                                            <% if(data.format) {%>
                                                              <option value="t10" <%=data.format == 't10'? 'selected' : '' %>>T10 </option>
                                                              <option value="t20" <%=data.format == 't20'? 'selected' : '' %>>T20 </option>
                                                              <option value="test" <%=data.format == 'test'? 'selected' : '' %>>Test </option>
                                                            <option value="one-day" <%=data.format == 'one-day'? 'selected' : '' %>>One-day </option>
                                                              <% }else{%>
                                                                <option value="" disabled selected > Select match format </option>
                                                                <option value="t10" >T10 </option>
                                                            <option value="t20" >T20 </option>
                                                            <option value="test" >Test </option>
                                                            <option value="one-day">One-day </option>
                                                                <% }%>
                                                            
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="Series*" class="control-label text-bold">Series*</label>
                                                    <select class="form-control form-control-solid p-1" data-container="body" data-live-search="true" title="Select Series" data-hide-disabled="true" name="series" required="">
                                                        <option value="" > Select Series </option>
                                                        <% if(data.Series.length > 0) { %>

                                                        <% for(let member of data.Series) { %>
                                                            <% if(data.seriesId && (member._id).toString() == (data.seriesId).toString() ) { %>
                                                                <option value="<%=member._id %>" selected><%=member.name %></option>
                                                            <% }else{ %>
                                                                <option value="<%=member._id %>" ><%=member.name %></option>
                                                             <% } %>
                                                        <%  } %>
                                                        <% }else{ %>
                                                            <option value="" disabled selected>Series not found</option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="winning_status" class="control-label text-bold">Match Winning Status</label>
                                                    <input placeholder="match winning status" class="form-control form-control-solid" type="text" name="winning_status">
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-right mt-md-4 mb-md-2">
                                                <button class="btn btn-sm btn-success text-uppercase"><i class="far fa-check-circle"></i>&nbsp;Submit</button>
                                                <a onclick="window.location.href=window.location.href" class="btn btn-sm btn-warning text-uppercase"><i class="fa fa-undo" ></i>&nbsp; Reset</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
                <%- include("../../partials/footer") %>

                    <script>
                        $(window).on('load', function() {

                            $('#preloader_admin').hide();

                        })
                    </script>



                    <script>
                        $(document).ready(function() {

                            if ($('#accordionSidenavPages a').hasClass('active')) {
                                $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
                                $('#accordionSidenavPages a.active').parent().parent().addClass('show');
                                // console.log(id);
                            } else {
                                $('#takeonebar').addClass('slamdown');
                            }
                        });
                    </script>
            
                    <script type="text/javascript">
                        $.datetimepicker.setLocale('en');
                        $('.datetimepickerget').datetimepicker({
                            lang: 'en',
                            formatDate: 'd.m.Y',
                            step: 5,
                            startDate: new Date()
                        });
                    </script>
                    <script type="text/javascript">
                        $('.datepicker').datepicker({
                            lang: 'en',
                            formatDate: 'd.m.Y',
                            step: 5,
                        });
                    </script>



                    <script>
                        /*jslint browser:true*/
                        /*global jQuery, document*/

                        jQuery(document).ready(function() {
                            'use strict';

                            jQuery('#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date').datetimepicker();
                        });
                    </script>
                        <script>
                            $(document).ready(function () {
    
                                if ($('#accordionSidenavPages a').hasClass('active')) {
                                    $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
                                    $('#accordionSidenavPages a.active').parent().parent().addClass('show');
                                    // console.log(id);
                                } else {
                                    $('#takeonebar').addClass('slamdown');
                                }
                            });
    
                        </script>
