<%- include("../../partials/head") %>

    <%- include("../../partials/bodyStartWithNavBar/") %>

        <%- include("../../partials/sideNav") %>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

            <div id="layoutSidenav_content">
                <main>
                    <%- include("../../partials/alertMsg") %>
                        <div class="page-header pb-10 page-header-dark bg-info">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="page-header-content">
                                            <h1 class="page-header-title fs-md-35 fs-20">

                                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                                <span class=" text-capitalize">
                                                    Match Manager
                                                </span>
                                            </h1>
                                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                                Update Playing XI
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto mb-md-0 mb-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-n10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card mb-3">
                                        <div class="card-heading p-3">

                                            <form method="GET" action="/update-playing11" accept-charset="UTF-8"
                                                id="matform">
                                                <div class="sbp-preview position-relative">
                                                    <div class="form-group">
                                                        <div class="row mx-0 align-items-center">
                                                            <!-- start code  -->
                                                            
                                                            <!-- end code -->
                                                            <div class="col-md col-12">
                                                                <div class="form-group my-3">
                                                                    <label class="control-label" for="first-name">Match
                                                                        Name
                                                                        <span class="required">*</span></label>
                                                                    <select required="required" name="matchid"
                                                                        class="form-control form-control-solid selectpicker show-tick"
                                                                        data-container="body" data-live-search="true"
                                                                        title="Select Match" data-hide-disabled="true"
                                                                        id="matckey" onchange="matcke();">
                                                                        <% if(matches) { %>
                                                                            <% for(let match of matches) { if(match.fantasy_type=="Cricket"){console.log("fanatsy_type",match.fantasy_type)%>
                                                                                <% if(matchid==match._id) { %>
                                                                                    <option value="<%= match._id %>"
                                                                                        selected>
                                                                                        <%= match.name %>
                                                                                    </option>
                                                                                    <% } else { %>
                                                                                        <option
                                                                                            value="<%= match._id %>">
                                                                                            <%= match.name %>
                                                                                        </option>
                                                                                        <% }} %>
                                                                                            <% } %>
                                                                                                <% } else { %>
                                                                                                    <option value=""
                                                                                                        disabled>Select
                                                                                                        match</option>
                                                                                                    <% } %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                            </form>
                                            <% if(matchid) { %>
                                                <div class="col-md-auto col-12 mt-md-4 pt-md-1 text-right">
                                                    <form action="/update-playing11-launch?matchid=<%= matchid %> "
                                                        method="post">
                                                        <button type="submit"
                                                            class="btn btn-sm btn-primary text-uppercase"
                                                            data-toggle="tooltip" title="Launch Playing 11">
                                                            <i class="far fa-rocket-launch"></i>
                                                            &nbsp;Launch
                                                        </button>
                                                    </form>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
            </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <% if(matchid) { %>
                        <div class="col-md col-12 mb-md-0 mb-2 text-md-left text-center">
                            <%= matches1[0].team1data.teamName %>
                        </div>
                        <% } else { %>
                            <div class="col-md col-12 mb-md-0 mb-2 text-md-left text-center">
                                Team 1
                            </div>
                            <% } %>
                                <!-- <% var alert="" %> -->
                                <% if(matchid) { %>
                                    <!-- <% if(matchid) { %> -->
                                    <div class="col-md-auto col-12 px-md-3 px-0 text-center">
                                        <button id="submitbtn" type="submit" class="btn btn-sm btn-primary pull-right"
                                            form="team1" onclick="return chakcountteem1mumber()">Update</button>
                                        <p id="alertmm"></p>
                                    </div>
                                    <!-- <% } %> -->
                                    <% } %>
                </div>
                <div class="card-body">

                    <script>
                        $(window).on("load", function () {

                            var success = '';
                            var danger = '';
                            var error = '';
                            var warning = '';

                            if (success) {
                                $("#toastBasic4").toast('show');
                            }

                            if (danger || error) {
                                $("#toastBasic3").toast('show');
                            }

                            if (warning) {
                                $("#toastBasic2").toast('show');
                            }
                        });
                    </script>

                    <form method="post" action="/update-playing11-team1?matchid=<%= matchid %>" id="team1">
                        <div class="datatable table-responsive">
                            <table class="table table-bordered table-hover text-nowrap" id="player1table" width="100%"
                                cellspacing="0">
                                <input type="hidden" id="matchid" name="matchid" value="<%= matchid %>">
                                <thead>
                                    <tr>

                                        <th>S No.</th>
                                        <th>Player Name</th>
                                        <th>Player Role</th>
                                        <th>Player Credit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Player Name</th>
                                        <th>Player Role</th>
                                        <th>Player Credit</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                </div>
                </form>
            </div>

            <script type="text/javascript">
                function chakcountteem1mumber() {
                    var numberOfChecked = $('input[name="team1_playing[]"]:checkbox:checked').length;
                    if (numberOfChecked == 11) {
                        $('#submitbtn').removeAttr('disabled');
                    } else {
                        document.getElementById("alertmm").innerHTML = "please select  11 player"
                        $('#submitbtn').attr('disabled', 'disabled');
                        setTimeout(() => {
                            $('#submitbtn').removeAttr('disabled');
                        }, 10)
                    }
                }



                function team1MaxChecked() {
                    var a = document.getElementsByName('team1_playing[]');
                    var newvar = 0;
                    var count;
                    for (count = 0; count < a.length; count++) {
                        if (a[count].checked == true) {
                            newvar += 1;
                        }
                    }
                    if (newvar == 12) {
                        return false
                    }
                }
            </script>

            <div class="card mb-4">
                <div class="card-header">
                    <% if(matchid) { %>
                        <div class="col-md col-12 mb-md-0 mb-2 text-md-left text-center">
                            <%= matches1[0].team2data.teamName %>
                        </div>
                        <% } else { %>
                            <div class="col-md col-12 mb-md-0 mb-2 text-md-left text-center">
                                Team 2
                            </div>
                            <% } %>
                                <% if(matchid) { %>
                                    <div class="col-md-auto col-12 px-md-3 px-0 text-center">
                                        <button type="submit" id="submitbtn2" class="btn btn-sm btn-primary pull-right"
                                            form="team2" onclick="chakcountteem2mumber()">Update</button>
                                        <p id="arrmas"></p>
                                    </div>
                                    <% } %>
                </div>
                <div class="card-body">
                    <form method="post" action="/update-playing11-team2?matchid=<%= matchid %>" id="team2">
                        <div class="datatable table-responsive">
                            <table class="table table-bordered table-hover text-nowrap" id="player2table" width="100%"
                                cellspacing="0">
                                <thead>
                                    <tr>

                                        <th>S No.</th>
                                        <th>Player Name</th>
                                        <th>Player Role</th>
                                        <th>Player Credit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Player Name</th>
                                        <th>Player Role</th>
                                        <th>Player Credit</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                </div>
                </form>
            </div>

            <script type="text/javascript">
                function chakcountteem2mumber() {
                    var numberOfChecked = $('input[name="team2_playing[]"]:checkbox:checked').length;
                    if (numberOfChecked == 11) {
                        $('#submitbtn2').removeAttr('disabled');
                        return true
                    } else {
                        document.getElementById("arrmas").innerHTML = "please select  11 player"
                        $('#submitbtn2').attr('disabled', 'disabled');
                        setTimeout(() => {
                            $('#submitbtn2').removeAttr('disabled');
                        }, 10)
                    }
                }

                function team2MaxChecked() {
                    var a = document.getElementsByName('team2_playing[]');
                    var newvar = 0;
                    var count;
                    for (count = 0; count < a.length; count++) {
                        if (a[count].checked == true) {
                            newvar += 1;
                        }
                    }
                    if (newvar == 12) {
                        return false
                    }
                }
            </script>

            <style>
                .table-hover tbody tr:hover td {
    background: lightgray;
}
                .highlight {
                    background: #ddd;
                }

                table tr td {
                    border: solid thin #ccc;
                }
            </style>
            <script>
                $(function () {
                    $('td:first-child input').change(function () {
                        $(this).closest('tr').toggleClass("highlight", this.checked);
                    });
                });
            </script>
            <script type="text/javascript">
                function matcke() {
                    $('#matform').submit();
                }
                $(document).ready(function () {

                    $.fn.dataTable.ext.errMode = 'none';
                    let matchid = $('#matchid').val();
                    let fantasy_type=$('#matchkey_id').val()
                    $('#player1table').DataTable({
                        searching: false,
                        language: {
                            zeroRecords: "No records to display",
                        },
                        ajax: {
                            url: `/update-playing11-team1-table?matchid=${matchid}`,
                            type: 'POST'
                        },
                        lengthMenu: [
                            [50, 100, 1000, 10000],
                            [50, 100, 1000, 10000]
                        ],
                        columns: [{
                            data: "count"
                        },
                        {
                            data: "playerName"
                        },
                        {
                            data: "playerRole"
                        },
                        {
                            data: "playerCredit"
                        },
                        {
                            data: "action"
                        }
                        ]
                    });
                });
            </script>
            <script type="text/javascript">
                function matcke() {
                    $('#matform').submit();
                }
                $(document).ready(function () {

                    $.fn.dataTable.ext.errMode = 'none';
                    let matchid = $('#matchid').val();
                    let fantasy_type=$('#matchkey_id').val()
                    console.log('matchid ------> ', matchid,"fantasy_type",fantasy_type );
                    $('#player2table').DataTable({
                        searching: false,
                        language: {
                            zeroRecords: "No records to display",
                        },
                        ajax: {
                            url: `/update-playing11-team2-table?matchid=${matchid}`,
                            type: 'POST'
                        },
                        lengthMenu: [
                            [50, 100, 1000, 10000],
                            [50, 100, 1000, 10000]
                        ],
                        columns: [{
                            data: "count"
                        },
                        {
                            data: "playerName"
                        },
                        {
                            data: "playerRole"
                        },
                        {
                            data: "playerCredit"
                        },
                        {
                            data: "action"
                        }
                        ]
                    });
                });
            </script>


            <script>
                function get_fantasy_matches(value) {
                    var fantasy_type = value;
                    $.ajax({
                        type: 'POST',
                        url: '',
                        data: '_token=AwjCVDxNBuGakwButfqskIMFlUkKHQRQmm3rG1c1&fantasy_type=' +
                            fantasy_type,
                        success: function (data) {
                            $('#matckey').html('<option value="">Select Match</option>');

                            for (var i = 0; i < data.length; i++) {
                                // alert(data[i]['id']);
                                $('#matckey').append('<option value="' + data[i]['matchkey'] +
                                    '">' + data[i]['name'] + '</option>');
                            }

                        }
                    });
                }

                $(window).ready(
                    function () {
                        var fantasy_type = $('#fantasy_type').val();
                        get_fantasy_matches(fantasy_type);
                    }
                );
            </script>

            </div>
            </main>


            <%- include("../../partials/footer") %>



                <script>
                    $(window).on('load', function () {

                        $('#preloader_admin').hide();

                    })
                </script>


                <script>
                    $('#b1').click(function () {
                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                                confirmButton: 'btn btn-sm btn-success',
                                cancelButton: 'btn btn-sm btn-danger'
                            },
                            buttonsStyling: false
                        })

                        swalWithBootstrapButtons.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'success',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, delete it!',
                            cancelButtonText: 'No, cancel!',
                            reverseButtons: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                swalWithBootstrapButtons.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                )
                            } else if (
                                /* Read more about handling dismissals below */
                                result.dismiss === Swal.DismissReason.cancel
                            ) {
                                swalWithBootstrapButtons.fire(
                                    'Cancelled',
                                    'Your imaginary file is safe :)',
                                    'error'
                                )
                            }
                        })
                    });
                </script>


                <script>
                    $(document).ready(function () {
                        var table = $('#dataTabless').DataTable({
                            'responsive': true
                        });

                        // Handle click on "Expand All" button
                        $('#btn-show-all-children').on('click', function () {
                            // Expand row details
                            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
                        });

                        // Handle click on "Collapse All" button
                        $('#btn-hide-all-children').on('click', function () {
                            // Collapse row details
                            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
                        });
                    });
                </script>


                <script>
                    $('#special').on('click', function () {
                        mySelect.find('option:selected').prop('disabled', true);
                        mySelect.selectpicker('refresh');
                    });

                    $('#special2').on('click', function () {
                        mySelect.find('option:disabled').prop('disabled', false);
                        mySelect.selectpicker('refresh');
                    });

                    $('#basic2').selectpicker({
                        liveSearch: true,
                        maxOptions: 1
                    });
                </script>



                <script>
                    $(document).ready(function () {

                        if ($('#accordionSidenavPages a').hasClass('active')) {
                            $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
                            $('#accordionSidenavPages a.active').parent().parent().addClass('show');
                        } else {
                            $('#takeonebar').addClass('slamdown');
                        }
                    });
                </script>
                <script>
                    $("#sortable, #sortable2").sortable();
                </script>
                <script>
                    $(".alert").delay(3000).fadeOut();
                </script>


                <script type="text/javascript">
                    $.datetimepicker.setLocale('en');
                    $('.datetimepickerget').datetimepicker({
                        lang: 'en',
                        formatDate: 'd.m.Y',
                        step: 5,
                        startDate: new Date()
                    });
                </script>
                <script type="text/javascript">
                    $('.datepicker').datepicker({
                        lang: 'en',
                        formatDate: 'd.m.Y',
                        step: 5,
                    });
                </script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#select_all').on('click', function () {
                            if (this.checked) {
                                $('.checkbox').each(function () {
                                    this.checked = true;
                                });
                            } else {
                                $('.checkbox').each(function () {
                                    this.checked = false;
                                });
                            }
                        });

                        $('.checkbox').on('click', function () {
                            if ($('.checkbox:checked').length == $('.checkbox').length) {
                                $('#select_all').prop('checked', true);
                            } else {
                                $('#select_all').prop('checked', false);
                            }
                        });
                    });
                </script>
                <script>
                    function isNumberKey(evt) {
                        //    <!--Function to accept only numeric values-->
                        //var e = evt || window.event;

                        var charCode = (evt.which) ? evt.which : evt.keyCode
                        if (charCode != 46 && charCode > 31 &&
                            (charCode < 48 || charCode > 57))

                            return false;
                        else {
                            var itemdecimal = evt.srcElement.value.split('.');
                            if (itemdecimal.length > 1 && charCode == 46)
                                return false;

                            return true;
                        }
                    }
                </script>
                <script>
                    var usersarry = [];
                    $("#selectusers").keyup(function () {
                        var gettypevalue = $("#selectusers").val();
                        if (gettypevalue != "") {
                            $.ajax({
                                type: 'POST',
                                url: '',
                                data: '_token=AwjCVDxNBuGakwButfqskIMFlUkKHQRQmm3rG1c1&gettypevalue=' +
                                    gettypevalue + '&userspresent=' + usersarry,
                                success: function (data) {
                                    $('#item_list').removeClass('d-none');
                                    $('#boxx').removeClass('d-none');
                                    $("#item_list").html(data);
                                }
                            });
                        }
                    });

                    function set_item(item) {
                        usersarry.push(item);
                        $("#uservalues").val(usersarry);
                        $("#selectusers").val('');
                        $('#item_list').addClass('d-none');
                        var gettext = $('#userid' + item).html();
                        $("#showusers").append('<div class="col-md-6" id="showuserseses">' + gettext + '</div>');
                        $('#boxx').addClass('d-none');
                    }

                    function deletediv(e, item) {
                        usersarry.splice(usersarry.indexOf(item), 1);
                        $("#uservalues").val(usersarry);
                        // e.parentNode.parentNode.remove(e.parentNode);
                        $('#showuserseses').remove();
                    }
                    $(function () {
                        $(document).click(function () {
                            $('#box').addClass('d-none'); //hide the button
                            //$('#boxx').hide(); //hide the button
                        });
                    });
                </script>
                <script>
                    function divshowhide(value) {
                        if (value == 'specific') {
                            $("#specificdiv").removeClass('d-none');
                            $("#specificdiv1").show();
                            $("#specificdiv2").show();
                        } else {
                            $("#specificdiv").addClass('d-none');
                            $("#specificdiv1").hide();
                            $("#specificdiv2").hide();
                        }
                    }

                    function deletediv1(e, item) {
                        $('#dsafd' + item).remove();
                    }
                </script>


                <script>
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#' + input.id + '-imagePreview').css('background-image', 'url(' + e.target.result + ')');
                                $('#' + input.id + '-imagePreview').hide();
                                $('#' + input.id + '-imagePreview').fadeIn(650);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                    $(".imageUpload").change(function () {
                        readURL(this);
                    });
                </script>






                <script>
                    // This is only for the Inputs to work dynamically

                    function setTheme(H, inputType) {
                        // Convert hex to RGB first
                        let r = 0,
                            g = 0,
                            b = 0;
                        if (H.length == 4) {
                            r = "0x" + H[1] + H[1];
                            g = "0x" + H[2] + H[2];
                            b = "0x" + H[3] + H[3];
                        } else if (H.length == 7) {
                            r = "0x" + H[1] + H[2];
                            g = "0x" + H[3] + H[4];
                            b = "0x" + H[5] + H[6];
                        }
                        // Then to HSL
                        r /= 255;
                        g /= 255;
                        b /= 255;
                        let cmin = Math.min(r, g, b),
                            cmax = Math.max(r, g, b),
                            delta = cmax - cmin,
                            h = 0,
                            s = 0,
                            l = 0;

                        if (delta == 0)
                            h = 0;
                        else if (cmax == r)
                            h = ((g - b) / delta) % 6;
                        else if (cmax == g)
                            h = (b - r) / delta + 2;
                        else
                            h = (r - g) / delta + 4;

                        h = Math.round(h * 60);

                        if (h < 0)
                            h += 360;

                        l = (cmax + cmin) / 2;
                        s = delta == 0 ? 0 : delta / (1 - Math.abs(2 * l - 1));
                        s = +(s * 100).toFixed(1);
                        l = +(l * 100).toFixed(1);

                        document.documentElement.style.setProperty(`--${inputType}-color-h`, h);
                        document.documentElement.style.setProperty(`--${inputType}-color-s`, s + '%');
                        document.documentElement.style.setProperty(`--${inputType}-color-l`, l + '%');

                        hsl = h + ' ' + s + ' ' + l + '';

                        //   $('#'+inputType+'-color-input').val( hsl );

                        $('input[name="input[' + inputType + '_hsl]"').val(hsl);
                    }

                    const inputs = ['primary', 'secondary', 'info', 'success', 'danger', 'warning', 'muted', 'dark', 'light',
                        'black', 'white', 'blue', 'indigo', 'purple', 'pink', 'red', 'orange', 'yellow', 'green', 'teal',
                        'cyan', 'gray', 'graydark'
                    ];

                    inputs.forEach((inputType) => {
                        document.querySelector(`#${inputType}-color-input`)
                            .addEventListener('change', (e) => {
                                setTheme(e.target.value, inputType);

                            });

                    });
                </script>


                <script>
                    /*jslint browser:true*/
                    /*global jQuery, document*/

                    jQuery(document).ready(function () {
                        'use strict';

                        jQuery(
                            '#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date'
                        )
                            .datetimepicker();
                    });
                </script>

                <script>
                    function copyToClipboard(element, element1) {
                        var $temp = $("<input>");
                        $("body").append($temp);
                        $temp.val($(element).text()).select();
                        document.execCommand("copy");
                        $temp.remove();

                        $(element1).addClass("copied_success animated bounceIn");
                        setTimeout(RemoveClass, 1000);

                        function RemoveClass() {
                            $(element1).removeClass("copied_success animated bounceIn");
                        }
                    }
                </script>

                <script>
                    function delete_sweet_alert(url, msg) {
                        // sweet alert
                        const swalWithBootstrapButtons = Swal.mixin({
                            customClass: {
                                confirmButton: 'btn btn-sm btn-success ml-2',
                                cancelButton: 'btn btn-sm btn-danger'
                            },
                            buttonsStyling: false
                        })

                        swalWithBootstrapButtons.fire({
                            title: msg,
                            text: "You won't be able to revert this!",
                            icon: 'success',
                            showCancelButton: true,
                            confirmButtonText: 'Yes',
                            cancelButtonText: 'No',
                            reverseButtons: true
                        }).then((result) => {
                            if (result.isConfirmed) {

                                swalWithBootstrapButtons.fire(
                                    '',
                                    'Successfully Done',
                                    'success'
                                );

                                window.location.href = url;


                            } else if (
                                /* Read more about handling dismissals below */
                                result.dismiss === Swal.DismissReason.cancel
                            ) {
                                swalWithBootstrapButtons.fire(
                                    'Cancelled',
                                    'Cancelled successfully :)',
                                    'error'
                                );
                                return false;
                            }
                        })
                    };
                    function selectNameToCheckedTeam2(id) {
                        try {
                            const check = document.querySelector(`input[value="${id}"][type="checkbox"]`);
                            const removeCheck = document.querySelector(`input[value="${id}"][checked="checked"]`)
                            if(removeCheck == null){
                                check.setAttribute("checked", "checked");
                                check.checked = true;
                            }else{
                                check.removeAttribute("checked", "checked");
                                check.checked = false;
                            };
                        } catch (error) {
                            console.log(error);
                            throw error;
                        };
                    };
                    function selectNameToCheckedTeam1(id) {
                        try {
                            const check = document.querySelector(`input[value="${id}"][type="checkbox"]`);
                            const removeCheck = document.querySelector(`input[value="${id}"][checked="checked"]`)
                            if(removeCheck == null){
                                check.setAttribute("checked", "checked");
                                check.checked = true;
                            }else{
                                check.removeAttribute("checked", "checked");
                                check.checked = false;
                            };
                        } catch (error) {
                            console.log(error);
                            throw error;
                        };
                    };
                </script>
                </body>

                </html>