<%- include("../../partials/head") %>

  <%- include("../../partials/bodyStartWithNavBar/") %>
    <%- include("../../partials/sideNav") %>
      <div id="layoutSidenav_content">
        <main>
          <%- include("../../partials/alertMsg") %>
          <div class="page-header pb-10 page-header-dark bg-info">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col">
                  <div class="page-header-content">
                    <h1 class="page-header-title fs-md-35 fs-20">

                      <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                      <span class=" text-capitalize">
                        Contest Manager
                      </span>
                    </h1>
                    <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                      Contest Price/Prize Card
                    </div>
                  </div>
                </div>
                <div class="col-auto mb-md-0 mb-3">
                  <a href="/view-all-global-contests-challengers"
                    class="btn btn-sm btn-light font-weight-bold text-uppercase text-primary" data-toggle="tooltip"
                    title="View All Global Contest"><i class="fas fa-eye"></i>&nbsp; View</a>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid mt-n10">

            <div class="card">
              <div class="card-body">
                <div class="sbp-preview">
                  <div class="sbp-preview-content">
                    <div class="row">
                      <div class="col-md mr-md-5">
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Winning Amount :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <%=data.win_amount %>
                          </div>
                        </div>
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Entry Fees :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <%=data.entryfee %>
                          </div>
                        </div>
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Maximum Users :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <%=data.maximum_user %>
                          </div>
                        </div>
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Multiple Entry :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <% if(data.multi_entry==1) {%><span class="font-weight-bold text-success">Yes</span>
                              <% }else{%> <span class="font-weight-bold text-danger">No</span>
                                <% }%>
                          </div>
                        </div>
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Is Running :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <% if(data.is_running==1) {%><span class="font-weight-bold text-success">Yes</span>
                              <% }else{%> <span class="font-weight-bold text-danger">No</span>
                                <% }%>
                          </div>
                        </div>
                      </div>
                      <div class="col-md ml-md-5">
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Confirm Contest :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <% if(data.confirmed_challenge==1) {%><span class="font-weight-bold text-success">Yes</span>
                              <% }else{%> <span class="font-weight-bold text-danger">No</span>
                                <% }%>
                          </div>
                        </div>
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Is Bonus Allowed :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <% if(data.is_bonus==1) {%><span class="font-weight-bold text-success">Yes</span>
                              <% }else{%> <span class="font-weight-bold text-danger">No</span>
                                <% }%>
                          </div>
                        </div>
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Contest Category :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <%=contentName.name %>
                          </div>
                        </div>
                        <div class="row py-2 border-bottom">
                          <div class="col-md font-weight-bold fs-md-15 fs-14">Contest Name :-</div>
                          <div class="col-md-auto font-weight-bold fs-md-15 fs-14">
                            <%=data.contest_name %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                <div class="card my-3">
                  <div class="card-header">
                    Add Price/Prize Cards
                  </div>
                  <div class="card-body">
                    <div class="sbp-preview">
                      <div class="sbp-preview-content">
                        
                        <% if(data.pricecard_type == 'Percentage') {%>
                          <form method="post" action="/add-price-card-Post-byPercentage">
                            <input name="Percentage" type="hidden" value="Percentage"> 
                          <% }else{ %>
                            <form method="post" action="/add-price-card-Post" enctype="multipart/form-data" >
                          <% } %>
                          <input name="globelchallengersId" type="hidden" value="<%=data._id %>"> 
                           <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="Start Position*" class="label-control">Start Position*</label>
                                <input value="<%=positionss %>" required="" placeholder="Enter starting position" readonly="" min="0"
                                  class="form-control form-control-solid" name="min_position" type="text">
                              </div>
                            </div>
                            <!-- -------------------->
                           <% if(data.pricecard_type == 'Percentage') {%>
                          <div class="col-lg-3 col-md-6 col-12">
                              <label class="label-control text-bold">Users Selection</label>
                              <div class="form-group">
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                     <input type="radio" checked class="custom-control-input sel_all" id="select_all2" name="user_selection" value="number" required="" onchange="$('#labelnumber').html('Number Of Winners*'),$('#winnum, #winnum2, #winnum3').html('0'),$('#percentuser').stop().slideUp(1000),$('#winnernumber, #winnerpercent').val('')">
                                      <label class="custom-control-label fs-15" for="select_all2">Users By Numbers</label>
                                  </div>
                              </div>
                          </div>
                          <!-- <div class="col-lg-3 col-md-6 col-12">
                            <label class="label-control text-bold"></label>
                            <div class="form-group my-1">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                   <input type="radio" class="custom-control-input sel_all" id="select_all3" name="user_selection" value="percentage" required="" onchange="$('#labelnumber').html('Percentage of Users *'),$('#percentuser, #percentuser2').stop().slideDown(1000),$('#winnernumber, #winnerpercent').val(''),$('#winnum, #winnum2, #winnum3').html('0')">
                                    <label class="custom-control-label fs-15" for="select_all3">Users By Percentage</label>
                                </div>
                            </div>
                          </div> -->
                          <% }%>
                          <!-- ------------------- -->
                          <% if(data.pricecard_type == 'Percentage') {%>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="Number Of Winners*" class="label-control text-bold">Number Of Winners*</label>
                                <input required="" placeholder="Enter number of winner" min="1" class="form-control form-control-solid" autocomplete="off" onkeyup="isNumberKey(this)" id="winnernumber" name="winners" type="text">
                                <span class="text-danger" id="percentuser" style="display: none;">Total Number of users: - <span id="winnum">0</span></span>
                            </div>
                          </div>
                        <!-- /// -->
                          <% }else{ %>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="Number Of Winners*" class="label-control text-bold">Number Of Winners*</label>
                                <input required="" placeholder="Enter number of winner" min="1"
                                  class="form-control form-control-solid" autocomplete="off" onkeypress="isNumberKey(event)"
                                  name="winners" type="text">
                              </div>
                            </div>
                          <% } %>
    
                            
                            <% if(data.pricecard_type == 'Percentage') {%>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label for="Price Amount In Percentage*" class="label-control text-bold">Price Amount In Percentage*</label>
                                  <input required="" placeholder="Price Amount In Percentage " min="1" autocomplete="off" class="form-control form-control-solid" onkeypress="isNumberKey(event)" id="winnerpercent" name="price_percent" type="text">
                                  <span class="text-danger" id="percentuser2" style="/*display: none;*/">Amount of Each User: - <span id="winnum2">0</span><br>Amount of All User: - <span id="winnum3">0</span></span>
                              </div>
                            </div>
                            <% }else{ %>
                            <% if(amount_type == "prize" && data.pricecard_type != 'Percentage'){ %>
                              <div class="col-md-6">
                                <div class="form-group my-3 fs-13" >
                                  <label class="label-control text-bold">Type Of Gifts*</label><br>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="gift_type" value="gift" id="customRadio11" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="customRadio11">Gift</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" name="gift_type" value="amount" id="customRadio12" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio12">Amount</label>
                                  </div>
                                </div>
                              </div>


                              <div  id="gift_in_gift">
                                <div class="col-sm-12" >
                                  <div class="form-group">
                                      <label class="label-control text-bold" style="color:red;">Prize Name*</label>
                                       <input type="text" class="form-control" placeholder="Please enter Prize name" name="prize_name"  value="" autocomplete="off">
                                       <input type="hidden" name="typename" value="prize">
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                      <div class="row justify-content-center py-0">
                                          <h1 class="fs-14 font-weight-bold text-center mt-3 col-12">
                                              Image</h1>
                                          <div class="avatar-upload col-auto position-relative">
                                              <div class="avatar-edit position-absolute right-0px z-index-1 top-2px">
                                                  <input type="file" name="image" id="image" accept=".png" class="imageUpload d-none">
                                                  <label class="d-grid w-40px h-40px mb-0 rounded-pill bg-white text-success fs-20 shadow pointer font-weight-normal align-items-center justify-content-center" for="image"><i class="fad fa-pencil"></i></label>
                                              </div>
                                              <div class="avatar-preview w-100px h-100px position-relative rounded-pill shadow">
  
                                                  <div class="w-100 h-100 rounded-pill" id="image-imagePreview" style="background-image: url(/uploadImage/defaultImage.jpg);">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-md-4" id="gift_in_amount" >
                                <div class="form-group">
                                  <label for="Price Amount In Rupees*" class="label-control text-bold">Price Amount In
                                    Rupees*</label>
                                  <input type="text" name="price"  placeholder="Price Amount In Rupees" min="1" autocomplete="off"
                                    class="form-control form-control-solid" onkeypress="isNumberKey(event)"  />
                                </div>
                              </div>

                             <% }else{ %>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="Price Amount In Rupees*" class="label-control text-bold">Price Amount In
                                    Rupees*</label>
                                  <input  placeholder="Price Amount In Rupees" min="1" autocomplete="off"
                                    class="form-control form-control-solid" onkeypress="isNumberKey(event)" name="price"
                                    type="text">
                                </div>
                              </div>
                             <% } %>
                              
                            <% } %>
    
                          </div>
    
                          <div class="row justify-content-end">
                            <div class="col-md-auto">
                                <button type="submit"
                                    class=" btn btn-sm btn-success ml-1"><i
                                        class="far fa-check-circle"></i>&nbsp;
                                    Submit</button>
                                <button type="reset" class="btn btn-sm btn-warning"
                                    onclick="window.location.href=window.location.href"><i
                                        class="fa fa-undo"></i>&nbsp;Reset</button>
                            </div>
                        </div>
    
                        </form>
                      </div>
                    </div>
    
                  </div>
                </div>
    
                <div class="card mb-3">
                  <div class="card-header">
                    Contest Price Cards
                  </div>
                  <div class="card-body">
                    <div class="datatable table-responsive">
                      <table class="table table-bordered table-striped table-hover dataTable text-nowrap" id="dataTable"
                        width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>S No.</th>
                            <th>Price Card Type</th>
                            <th>Min Position</th>
                            <th>Max Position</th>
                            <th>Winning Users</th>
                            <% if(data.pricecard_type == 'Percentage') {%>
                            <th>Each Winner Percentage </th>
                            <% }else{ %>
                            <th>Each Winner Amount </th>
                            <% if(amount_type == "prize" && data.pricecard_type != 'Percentage'){ %>
                            <th>Prize Name</th>
                            <th>Image</th>
                            <% } %>
                            <% } %>
                            <th>Total Amount</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(priceCardData) {%>
                            <% let priceLength=priceCardData.length %>
                            <% let count=0 %>
                            <% for(let key of priceCardData) {%>
                              <% count=count+1 %>
                                <tr>
                                    <td><%=count %></td>
                                    <td><%=key.type %></td>
                                    <td><%=key.min_position %></td>
                                    <td><%=key.max_position %></td>
                                    <td><%=key.winners %></td>
                                    <% if(data.pricecard_type == 'Percentage') {%>
                                      <td><%=((key.total)/(key.winners)).toFixed(2) %>(<%=(key.price_percent).toFixed(2) %>%)</td>
                                    <%}else{ %>
                                      <td><%=((key.total)/(key.winners)).toFixed(2) %></td>
                                    <% }%>
                                  <%  if(amount_type == "prize" && data.pricecard_type != 'Percentage'){ %>
                                    <td><%=key.prize_name ? key.prize_name :"" %></td>
                                    <td>
                                      <% if(key.image != '') {%>
                                      <img src="<%=key.image ?  key.image : "" %>" class="w-40px view_team_table_images h-40px rounded-pill">
                                      <% }%>
                                    </td>
                                  <% } %>
                                    <td><%=(key.total).toFixed(2) %>(<%=((key.total*100)/(data.win_amount)).toFixed(2) %> %)</td>
                                    <% if(priceLength == count) {%>
                                    <td><a class="btn btn-sm btn-danger w-35px h-35px" onclick="delete_confirmation('/deletepricecard/<%=key._id %>?challengerId=<%=data._id %>')" data-toggle="tooltip" title="" data-original-title="Delete"> <i class="far fa-trash"></i></a></td>
                                    <%}else{ %>
                                    <td></td>
                                    <% }%>
                                </tr>
                                
                            <% } %>
                          <% } %>
    
                        </tbody>
                        <tfoot>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><%=positionss %> (<%=((positionss*100)/data.maximum_user ).toFixed(2) %> %)</td>
                            <td></td>
                            <% if(amount_type == "prize" && data.pricecard_type != 'Percentage') { %>
                              <td></td>
                              <td></td>
                            <% } %>
                            <td><%=tAmount %> (<%=((tAmount*100)/data.win_amount).toFixed(2) %> %)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <th>S No.</th>
                            <th>Price Card Type</th>
                            <th>Min Position</th>
                            <th>Max Position</th>
                            <th>Winning Users</th>
                            <th>Each Winner Amount </th>
                            <% if(amount_type == "prize" && data.pricecard_type != 'Percentage') { %>
                            <th>Prize Name</th>
                            <th>Image</th>
                            <% } %>
                            <th>Total Amount</th>
                            <th>Action</th>
                          </tr>
    
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
            
            

            <script>
              function delete_confirmation(url) {
                // sweet alert
                const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                    confirmButton: 'btn btn-sm btn-success ml-2',
                    cancelButton: 'btn btn-sm btn-danger'
                  },
                  buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  icon: 'success',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel!',
                  reverseButtons: true
                }).then((result) => {
                  if (result.isConfirmed) {

                    swalWithBootstrapButtons.fire(
                      'Deleted!',
                      'Price card deleted successfully.',
                      'success'
                    );

                    window.location.href = url;


                  } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                  ) {
                    swalWithBootstrapButtons.fire(
                      'Cancelled',
                      'Cancelled successfully :)',
                      'error'
                    );
                    return false;
                  }
                })
              }
            </script>
            <script>
              var winning_amount = '<%=data.win_amount %>';
              $('#winnernumber').keyup(function (event) {
                let users = '<%=data.maximum_user %>';
                let winamt = '<%=data.win_amount %>';
                let typedusers = $(this).val();
                let totalusers = Math.round((users * typedusers) / 100);
                // console.log(typedusers);
                $('#winnum').html(totalusers);
                // if($('input[name=user_selection]:checked').val()=='number'){
                let winper = $('#winnerpercent').val();
                if (winper != '' && typedusers != '') {
                  let totaluse = ((winamt * winper) / 100);
                  $('#winnum2').html(totaluse.toFixed(2));
                  if ($('input[name=user_selection]:checked').val() == 'number') {
                    let amt = $('#winnernumber').val() * totaluse;

                    $('#winnum3').html(amt.toFixed(2));
                  } else {
                    let tusers = $('#winnum').text();
                    let amt = tusers * totaluse;
                    // $('#winnum2').html(totaluse.toFixed(2));
                    $('#winnum3').html(amt.toFixed(2));
                  }
                } else {
                  $('#winnum2').html('0');
                  $('#winnum3').html('0');
                }
                // }
              });

              $('#winnerpercent').keyup(function (event) {
                let winamt = '<%=data.win_amount %>';
                let typedusers = $('#winnum').text();
                let winper = $(this).val();
                if (winper != '') {
                  let totalusers = ((winamt * winper) / 100);
                  $('#winnum2').html(totalusers.toFixed(2));
                  if ($('input[name=user_selection]:checked').val() == 'number') {
                    let amt = $('#winnernumber').val() * totalusers;
                    $('#winnum3').html(amt.toFixed(2));
                  } else {
                    let amt = typedusers * totalusers;
                    $('#winnum3').html(amt.toFixed(2));
                  }
                } else {
                  $('#winnum2').html('0');
                  $('#winnum3').html('0');
                }

              });
            </script>
          </div>
        </main>
        <%- include("../../partials/footer") %>

          <script>

            $(window).on('load', function () {

              $('#preloader_admin').hide();

            })
          </script>


          <script>
            $('#b1').click(function () {
              const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: 'btn btn-sm btn-success',
                  cancelButton: 'btn btn-sm btn-danger'
                },
                buttonsStyling: false
              })

              swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'success',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
              }).then((result) => {
                if (result.isConfirmed) {
                  swalWithBootstrapButtons.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                  )
                } else if (
                  /* Read more about handling dismissals below */
                  result.dismiss === Swal.DismissReason.cancel
                ) {
                  swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your imaginary file is safe :)',
                    'error'
                  )
                }
              })
            });
          </script>
          <script>
            $(document).ready(function(){
              if ($('input[name=gift_type]:checked').val() == "gift") {
                  $('#gift_in_amount').hide();
                  $('#gift_in_gift').show();
                }else {
                  $('#gift_in_gift').hide();
                  $('#gift_in_amount').show();
                }
            })
          </script>

          <script>
            $(document).ready(function () {

              if ($('#accordionSidenavPages a').hasClass('active')) {
                $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
                $('#accordionSidenavPages a.active').parent().parent().addClass('show');
                // console.log(id);
              } else {
                $('#takeonebar').addClass('slamdown');
              }
            });

          </script>
          <script>
             $("input[name=gift_type]").change(function () {
                if ($('input[name=gift_type]:checked').val() == "gift") {
                  $('#gift_in_gift').show();
                  $('#gift_in_amount').hide();
                }
                else {
                  $('#gift_in_gift').hide();
                  $('#gift_in_amount').show();
                }
              });
          </script>
         

          <script type="text/javascript">
            $.datetimepicker.setLocale('en');
            $('.datetimepickerget').datetimepicker({
              lang: 'en',
              formatDate: 'd.m.Y',
              step: 5,
              startDate: new Date()
            });
          </script>
          <script type="text/javascript">
            $('.datepicker').datepicker({
              lang: 'en',
              formatDate: 'd.m.Y',
              step: 5,
            });
          </script>

          <script>
            function isNumberKey(evt) {
              //var e = evt || window.event;

              var charCode = (evt.which) ? evt.which : evt.keyCode
              if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))

                return false;
              else {
                var itemdecimal = evt.srcElement.value.split('.');
                if (itemdecimal.length > 1 && charCode == 46)
                  return false;

                return true;
              }
            }

          </script>
  

          <script>
            /*jslint browser:true*/
            /*global jQuery, document*/

            jQuery(document).ready(function () {
              'use strict';

              jQuery('#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date').datetimepicker();
            });
          </script>
         


          <script>
            function delete_sweet_alert(url, msg) {
              // sweet alert
              const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: 'btn btn-sm btn-success ml-2',
                  cancelButton: 'btn btn-sm btn-danger'
                },
                buttonsStyling: false
              })

              swalWithBootstrapButtons.fire({
                title: msg,
                text: "You won't be able to revert this!",
                icon: 'success',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
              }).then((result) => {
                if (result.isConfirmed) {

                  swalWithBootstrapButtons.fire(
                    '',
                    'Successfully Done',
                    'success'
                  );

                  window.location.href = url;


                } else if (
                  /* Read more about handling dismissals below */
                  result.dismiss === Swal.DismissReason.cancel
                ) {
                  swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Cancelled successfully :)',
                    'error'
                  );
                  return false;
                }
              })
            }
          </script>
             <script>
              function readURL(input) {
                  if (input.files && input.files[0]) {
                      var reader = new FileReader();
                      reader.onload = function (e) {
                          $('#' + input.id + '-imagePreview').css('background-image', 'url(' + e.target.result + ')');
                          $('#' + input.id + '-imagePreview').hide();
                          $('#' + input.id + '-imagePreview').fadeIn(650);
                      }
                      reader.readAsDataURL(input.files[0]);
                  }
              }
              $(".imageUpload").change(function () {
                  readURL(this);
              });
          </script>
