
<%- include("../../partials/head") %>

<%- include("../../partials/bodyStartWithNavBar/") %>
<%- include("../../partials/sideNav") %>
<div id="layoutSidenav_content">
    <main>
      <%- include("../../partials/alertMsg") %>
        <div class="page-header pb-10 page-header-dark bg-info">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">

                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                <span class=" text-capitalize">
                                        Contest Manager
                                </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                    Create new contest category
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-md-0 mb-3">
                        <a  href="/view-contest-Category" class="btn btn-sm btn-light font-weight-bold text-uppercase text-primary text-uppercase"><i class="fad fa-eye"></i>&nbsp; View All Contest Categories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">


<div class="card">
<div class="card-header">Add New Contest Category</div>
<!-- accept-charset="UTF-8" id="j-forms" -->
<form method="POST" action="/add-contest-category-data"  class="card-body" enctype="multipart/form-data">
  <input name="typename" type="hidden" value="contestCategory">

<div class="sbp-preview">
    <div class="sbp-preview-content">
        <div class="row mx-0">

            <div class="col-6">
                <div class="form-group my-3">
                   <label for="Contest Category Name*" class="control-label text-bold">Contest Category Name*</label>
                    <input required="" placeholder="Enter Category Name" class="form-control form-control-solid" name="name" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group my-3">
                    <label for="Sub Title*" class="control-label text-bold">Sub Title*</label>
                   <input required="" placeholder="Enter Sub Title" class="form-control form-control-solid" name="sub_title" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group my-3">
                    <label for="order*" class="control-label text-bold">order*</label>
                   <input required="" placeholder="Order" class="form-control form-control-solid" name="Order" type="number">
                </div>
            </div>
            <div class="col-6">
    
                <div class="avatar-upload col-3 position-relative">
                <div class="avatar-edit position-absolute right-0px z-index-1 top-2px">
                    <input type='file' name="image" id="img" accept=".png"  class="imageUpload d-none"/>
                    <label class="d-grid w-40px h-40px mb-0 rounded-pill bg-white text-success fs-20 shadow pointer font-weight-normal align-items-center justify-content-center" for="img"><i class="fad fa-pencil"></i></label>
                </div>
                <div class="avatar-preview w-100px h-100px position-relative rounded-pill shadow">
                    <div class="w-100 h-100 rounded-pill" id="img-imagePreview" style="background-image: url(/public/logo.png)">
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 text-right mt-4 mb-2">
                <button type="reset" class="btn btn-sm btn-warning" onclick="window.location.href=window.location.href"><i class="fa fa-undo"></i>&nbsp;Reset</a>
                <button type="submit" class=" btn btn-sm btn-success float-right ml-1"><i class="far fa-check-circle"></i>&nbsp;   Submit</button>
            </div>
        </div>
    </div>
</div>

</div>
        </div>
    </main>
<%- include("../../partials/footer") %>

        <script>
    
          $(window).on('load', function(){
    
             $('#preloader_admin').hide();
    
            })
        </script>
  
      
    
    <script>
    $(document).ready(function(){
        
      if ($('#accordionSidenavPages a').hasClass('active')){
        $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
        $('#accordionSidenavPages a.active').parent().parent().addClass('show');
        // console.log(id);
      } else {
        $('#takeonebar').addClass('slamdown');
      }
    });
    
    </script>
    <script>
        $( "#sortable, #sortable2" ).sortable();
    </script>
  
    
    
        <script type="text/javascript">
         $(document).ready(function(){
     $('#select_all').on('click',function(){
         if(this.checked){
             $('.checkbox').each(function(){
                 this.checked = true;
             });
         }else{
              $('.checkbox').each(function(){
                 this.checked = false;
             });
         }
     });
    
     $('.checkbox').on('click',function(){
         if($('.checkbox:checked').length == $('.checkbox').length){
             $('#select_all').prop('checked',true);
         }else{
             $('#select_all').prop('checked',false);
         }
     });
    });
    </script>
    <script>
    function isNumberKey(evt){
        //var e = evt || window.event;
    
       var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode != 46 && charCode > 31
       && (charCode < 48 || charCode > 57))
    
        return false;
      else {
           var itemdecimal = evt.srcElement.value.split('.');
           if (itemdecimal.length > 1 && charCode == 46)
               return false;
    
           return true;
      }
    }
    
    </script>
  
        <script>
        function divshowhide(value){
          if(value=='specific'){
            $("#specificdiv").removeClass('d-none');
            $("#specificdiv1").show();
            $("#specificdiv2").show();
          }else{
            $("#specificdiv").addClass('d-none');
            $("#specificdiv1").hide();
            $("#specificdiv2").hide();
          }
        }
         function deletediv1(e,item){
            $('#dsafd'+item).remove();
        }
    
      </script>
    
    
        <script>
            function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#' + input.id + '-imagePreview').css('background-image', 'url('+e.target.result +')');
                    $('#' + input.id + '-imagePreview').hide();
                    $('#' + input.id + '-imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".imageUpload").change(function() {
            readURL(this);
        });
        </script>
        
    
    