<%- include("../../partials/head") %>

    <%- include("../../partials/bodyStartWithNavBar/") %>
        <%- include("../../partials/sideNav") %>
            <div id="layoutSidenav_content">
                <main>

                    <div class="page-header pb-10 page-header-dark bg-info">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="page-header-content">
                                        <h1 class="page-header-title fs-md-35 fs-20">

                                            <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                            <span class=" text-capitalize">
                                                Contest Manager
                                            </span>
                                        </h1>
                                        <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                            View all contest category
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto mb-md-0 mb-3">
                                    <a href="/create-contest-category"
                                        class="btn btn-sm btn-light font-weight-bold text-uppercase text-primary text-uppercase"
                                        data-toggle="tooltip" title="Add New Contest Category"><i
                                            class="fas fa-plus"></i>&nbsp; Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-n10">

                        <style>
                            #dataTable_paginate {
                                display: none;
                            }
                        </style>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-3">
                                    <div class="card-heading p-3">
                                        <form method="get" action="/view-contest-Category">
                                            <div class="sbp-preview position-relative">
                                                <div class="form-group mb-0">
                                                    <div class="row mx-0 align-items-end">

                                                        <div class="col-md">
                                                            <div class="form-group my-3">
                                                                <label for="Contest Name" class="text-bold">Contest
                                                                    Name</label>
                                                                <% if(name) {%>
                                                                    <input value="<%=name %>" id="name"
                                                                        class="form-control form-control-solid"
                                                                        name="name" type="text">
                                                                    <%}else{ %>
                                                                        <input placeholder="Search By Contest Name"
                                                                            id="name"
                                                                            class="form-control form-control-solid"
                                                                            name="name" type="text">
                                                                        <% }%>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-auto text-right h-100 mb-3">
                                                            <button type="submit"
                                                                class="btn btn-success  btn-sm rounded-pill"><i
                                                                    class="far fa-check-circle"></i>&nbsp;
                                                                Search</button>
                                                            <a href="/view-contest-Category"
                                                                class='btn btn-warning  btn-sm rounded-pill'><i
                                                                    class="fa fa-undo"></i>&nbsp;Reset</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">Contest Categories</div>
                            <div class="card-body">


                                <div class="datatable table-responsive">
                                    <table class="table table-bordered table-hover text-nowrap"
                                        id="contestCategoryTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Sno.</th>
                                                <th>Contest Category Name</th>
                                                <th>Sub Title</th>
                                                <th>Image</th>
                                                <th>leaderboard</th>
                                                <th>Order</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Sno.</th>
                                                <th>Contest Category Name</th>
                                                <th>Sub Title</th>
                                                <th>Image</th>
                                                <th>leaderboard</th>
                                                <th>Order</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <!-- <span class="float-right"></span> -->
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                let searchName = $("#name").val();
                                $.fn.dataTable.ext.errMode = 'none';
                                $('#contestCategoryTable').DataTable({
                                    searching: false,
                                    language: {
                                        zeroRecords: "No records to display",
                                    },
                                    ajax: {
                                        url: `/contest-Category-table?searchName=${searchName}`,
                                        type: 'post',
                                        dataSrc: 'data',
                                        error: function () {
                                            console.log(error)
                                        }
                                    },
                                    "lengthMenu": [
                                        [10, 25, 50, 100, 1000, 10000],
                                        [10, 25, 50, 100, 1000, 10000]
                                    ],
                                    columns: [
                                        {
                                            data: "count"
                                        },
                                        {
                                            data: "name"
                                        },
                                        {
                                            data: "sub_title"
                                        },
                                        {
                                            data: "image"
                                        },
                                        {
                                            data: "leaderboard"
                                        }
                                        , { data: "Order" },
                                        {
                                            data: "action", orderable: false
                                        },]
                                })

                            });

                        </script>
                    </div>
                </main>
                <%- include("../../partials/footer") %>

                    <script>

                        $(window).on('load', function () {

                            $('#preloader_admin').hide();

                        })
                    </script>


                    <script>
                        $('#b1').click(function () {
                            const swalWithBootstrapButtons = Swal.mixin({
                                customClass: {
                                    confirmButton: 'btn btn-sm btn-success',
                                    cancelButton: 'btn btn-sm btn-danger'
                                },
                                buttonsStyling: false
                            })

                            swalWithBootstrapButtons.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                icon: 'success',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, delete it!',
                                cancelButtonText: 'No, cancel!',
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    swalWithBootstrapButtons.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                    )
                                } else if (
                                    /* Read more about handling dismissals below */
                                    result.dismiss === Swal.DismissReason.cancel
                                ) {
                                    swalWithBootstrapButtons.fire(
                                        'Cancelled',
                                        'Your imaginary file is safe :)',
                                        'error'
                                    )
                                }
                            })
                        });
                    </script>




                    <script>
                        $(document).ready(function () {

                            if ($('#accordionSidenavPages a').hasClass('active')) {
                                $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
                                $('#accordionSidenavPages a.active').parent().parent().addClass('show');
                                // console.log(id);
                            } else {
                                $('#takeonebar').addClass('slamdown');
                            }
                        });

                    </script>


                    <script>
                        function delete_sweet_alert(url, msg) {
                            // sweet alert
                            const swalWithBootstrapButtons = Swal.mixin({
                                customClass: {
                                    confirmButton: 'btn btn-sm btn-success ml-2',
                                    cancelButton: 'btn btn-sm btn-danger'
                                },
                                buttonsStyling: false
                            })

                            swalWithBootstrapButtons.fire({
                                title: msg,
                                text: "You won't be able to revert this!",
                                icon: 'success',
                                showCancelButton: true,
                                confirmButtonText: 'Yes',
                                cancelButtonText: 'No',
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    swalWithBootstrapButtons.fire(
                                        '',
                                        'Successfully Done',
                                        'success'
                                    );

                                    window.location.href = url;


                                } else if (
                                    /* Read more about handling dismissals below */
                                    result.dismiss === Swal.DismissReason.cancel
                                ) {
                                    swalWithBootstrapButtons.fire(
                                        'Cancelled',
                                        'Cancelled successfully :)',
                                        'error'
                                    );
                                    return false;
                                }
                            })
                        }
                    </script>