<%- include("../../partials/head") %>

<%- include("../../partials/bodyStartWithNavBar/") %>

<%- include("../../partials/sideNav") %>

<div id="layoutSidenav_content">
    <main>
        <%- include("../../partials/alertMsg") %>
        <div class="page-header pb-10 page-header-dark bg-info">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="page-header-content">
                            <h1 class="page-header-title fs-md-35 fs-20">

                                <div class="page-header-icon"><i class="fad fa-at text-white"></i></div>
                                <span class=" text-capitalize">
                                    Contest Users Detail
                                </span>
                            </h1>
                            <div class="page-header-subtitle fs-md-19 fs-14 text-capitalize">
                                View All Users Detail
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-md-0 mb-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
<!-- nandlalcode -->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-heading p-3">
                <form method="get" action="/contest-user-details/<%= matchkey %>?challengeid=<%= cid %>" autocomplete="off">
                    <input type="hidden" name="challengeid" value="<%=cid%>">
                    <div class="sbp-preview position-relative">
                        <div class="form-group">
                            <div class="row mx-0">
                                <div class="col-md-4">
                                    <div class="form-group my-3">
                                        <label for="Team Name" class="text-bold">Team Name</label>
                                            <input placeholder="Search By Name" id="teamName" class="form-control form-control-solid" value="<%=teamName %>" name="teamName" type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group my-3">
                                        <label for="Email" class="">Email</label>
                                            <input class="form-control form-control-solid" value="<%=Email %>" name="Email" type="text" id="Email" placeholder="Search by Email">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group my-3">
                                        <label for="Mobile" class="">Mobile</label>
                                            <input class="form-control form-control-solid" value="<%=Mobile %>" name="Mobile" type="number" id="Mobile" placeholder="Search by Mobile">
                                    </div>
                                </div>

                                <div class="col-12 text-right mt-4 mb-2">
                                    <button class="btn btn-sm btn-success text-uppercase" type="submit"><i class="far fa-check-circle"></i>&nbsp;Submit</button>
                                    <a href="/contest-user-details/<%= matchkey %>?challengeid=<%= cid %>" class="btn btn-sm btn-warning text-uppercase" type="reset"><i class="far fa-undo"></i>&nbsp; Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- nandlalcode -->

            <div class="card mb-4">
                <div class="card-header">View All Contests Users</div>
                <div class="card-body">

                    <script>
                        $(window).on("load", function () {

                            var success = '';
                            var danger = '';
                            var error = '';
                            var warning = '';

                            if (success) {
                                $("#toastBasic4").toast('show');
                            }

                            if (danger || error) {
                                $("#toastBasic3").toast('show');
                            }

                            if (warning) {
                                $("#toastBasic2").toast('show');
                            }
                        });
                    </script>

                    <div class="datatable table-responsive overflow-auto">
                        <table class="table table-bordered table-hover text-nowrap" id="contest_user_details_table"
                            width="100%" cellspacing="0">
                            <input type="hidden" id="matchkey" name="matchkey" value="<%= matchkey %>">
                            <input type="hidden" id="challengeid" name="challengeid" value="<%= cid %>">
                            <thead>
                                <tr>
                                    <th>Sno.</th>
                                    <th>Team Name</thber>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Rank</th>
                                    <th>Transaction Id</th>
                                    <th>Points</th>
                                    <th>Amount/Prize</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Sno.</th>
                                    <th>Team Name</thber>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Rank</th>
                                    <th>Transaction Id</th>
                                    <th>Points</th>
                                    <th>Amount/Prize</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>

            </div>


            <script type="text/javascript">
                $(document).ready(function () {
                    $.fn.dataTable.ext.errMode = 'none';
                    let matchKey = $('#matchkey').val();
                    let cid = $('#challengeid').val();
                    console.log(cid);
                    $('#contest_user_details_table').DataTable({
                        // searching: false,
                        // responsive: true,
                        language: {
                            zeroRecords: "No records to display"
                        },
                        ajax: {
                            //url: `/contest-user-details-table/${matchKey}?challengeid=${cid}`,
                            url: `/contest-user-details-table/${matchKey}?challengeid=${cid}&teamName=<%-teamName%>&Email=<%-Email%>&Mobile=<%-Mobile%>`,
                            type: 'POST'
                        },
                        lengthMenu: [
                            [10, 20, 30],
                            [10, 20, 30]
                        ],
                        columns: [{
                                data: "count"
                            },
                            {
                                data: "teamName"
                            },
                            {
                                data: "email"
                            },
                            {
                                data: "mobile"
                            },
                            {
                                data: "rank"
                            },
                            {
                                data: "transactionId"
                            },
                            {
                                data: "points"
                            },
                            {
                                data: "amount"
                            },
                            {
                                data: "action"
                            },
                        ]
                    })
                });
            </script>

            <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/r-2.2.1/datatables.min.js">
            </script>

            <script>
                $(document).ready(function () {
                    var table = $('#contest_user_details_table').DataTable({
                        'responsive': true
                    });

                    // Handle click on "Expand All" button
                    $('#btn-show-all-children').on('click', function () {
                        // Expand row details
                        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger(
                            'click');
                    });

                    // Handle click on "Collapse All" button
                    $('#btn-hide-all-children').on('click', function () {
                        // Collapse row details
                        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
                    });
                });
            </script>

        </div>
    </main>


    <%- include("../../partials/footer") %>


    <script>
        $(window).on('load', function () {

            $('#preloader_admin').hide();

        })
    </script>


    <script>
        $('#b1').click(function () {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-sm btn-success',
                    cancelButton: 'btn btn-sm btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'success',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            })
        });
    </script>





    <script>
        $('#special').on('click', function () {
            mySelect.find('option:selected').prop('disabled', true);
            mySelect.selectpicker('refresh');
        });

        $('#special2').on('click', function () {
            mySelect.find('option:disabled').prop('disabled', false);
            mySelect.selectpicker('refresh');
        });

        $('#basic2').selectpicker({
            liveSearch: true,
            maxOptions: 1
        });
    </script>



    <script>
        $(document).ready(function () {

            if ($('#accordionSidenavPages a').hasClass('active')) {
                $('#accordionSidenavPages a.active').parent().parent().prev('a').removeClass('collapsed');
                $('#accordionSidenavPages a.active').parent().parent().addClass('show');
                // console.log(id);
            } else {
                $('#takeonebar').addClass('slamdown');
            }
        });
    </script>
    <script>
        $("#sortable, #sortable2").sortable();
    </script>
    <script>
        $(".alert").delay(3000).fadeOut();
    </script>


    <script type="text/javascript">
        $.datetimepicker.setLocale('en');
        $('.datetimepickerget').datetimepicker({
            lang: 'en',
            formatDate: 'd.m.Y',
            step: 5,
            startDate: new Date()
        });
    </script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            lang: 'en',
            formatDate: 'd.m.Y',
            step: 5,
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#select_all').on('click', function () {
                if (this.checked) {
                    $('.checkbox').each(function () {
                        this.checked = true;
                    });
                } else {
                    $('.checkbox').each(function () {
                        this.checked = false;
                    });
                }
            });

            $('.checkbox').on('click', function () {
                if ($('.checkbox:checked').length == $('.checkbox').length) {
                    $('#select_all').prop('checked', true);
                } else {
                    $('#select_all').prop('checked', false);
                }
            });
        });
    </script>
    <script>
        function isNumberKey(evt) {
            //    <!--Function to accept only numeric values-->
            //var e = evt || window.event;

            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode != 46 && charCode > 31 &&
                (charCode < 48 || charCode > 57))

                return false;
            else {
                var itemdecimal = evt.srcElement.value.split('.');
                if (itemdecimal.length > 1 && charCode == 46)
                    return false;

                return true;
            }
        }
    </script>

    <script>
        function divshowhide(value) {
            if (value == 'specific') {
                $("#specificdiv").removeClass('d-none');
                $("#specificdiv1").show();
                $("#specificdiv2").show();
            } else {
                $("#specificdiv").addClass('d-none');
                $("#specificdiv1").hide();
                $("#specificdiv2").hide();
            }
        }

        function deletediv1(e, item) {
            $('#dsafd' + item).remove();
        }
    </script>


    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#' + input.id + '-imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#' + input.id + '-imagePreview').hide();
                    $('#' + input.id + '-imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".imageUpload").change(function () {
            readURL(this);
        });
    </script>






    <script>
        // This is only for the Inputs to work dynamically

        function setTheme(H, inputType) {
            // Convert hex to RGB first
            let r = 0,
                g = 0,
                b = 0;
            if (H.length == 4) {
                r = "0x" + H[1] + H[1];
                g = "0x" + H[2] + H[2];
                b = "0x" + H[3] + H[3];
            } else if (H.length == 7) {
                r = "0x" + H[1] + H[2];
                g = "0x" + H[3] + H[4];
                b = "0x" + H[5] + H[6];
            }
            // Then to HSL
            r /= 255;
            g /= 255;
            b /= 255;
            let cmin = Math.min(r, g, b),
                cmax = Math.max(r, g, b),
                delta = cmax - cmin,
                h = 0,
                s = 0,
                l = 0;

            if (delta == 0)
                h = 0;
            else if (cmax == r)
                h = ((g - b) / delta) % 6;
            else if (cmax == g)
                h = (b - r) / delta + 2;
            else
                h = (r - g) / delta + 4;

            h = Math.round(h * 60);

            if (h < 0)
                h += 360;

            l = (cmax + cmin) / 2;
            s = delta == 0 ? 0 : delta / (1 - Math.abs(2 * l - 1));
            s = +(s * 100).toFixed(1);
            l = +(l * 100).toFixed(1);

            document.documentElement.style.setProperty(`--${inputType}-color-h`, h);
            document.documentElement.style.setProperty(`--${inputType}-color-s`, s + '%');
            document.documentElement.style.setProperty(`--${inputType}-color-l`, l + '%');

            hsl = h + ' ' + s + ' ' + l + '';

            //   $('#'+inputType+'-color-input').val( hsl );

            $('input[name="input[' + inputType + '_hsl]"').val(hsl);
        }

        const inputs = ['primary', 'secondary', 'info', 'success', 'danger', 'warning', 'muted', 'dark', 'light',
            'black', 'white', 'blue', 'indigo', 'purple', 'pink', 'red', 'orange', 'yellow', 'green', 'teal',
            'cyan', 'gray', 'graydark'
        ];

        inputs.forEach((inputType) => {
            document.querySelector(`#${inputType}-color-input`)
                .addEventListener('change', (e) => {
                    setTheme(e.target.value, inputType);

                });

        });
    </script>


    <script>
        /*jslint browser:true*/
        /*global jQuery, document*/

        jQuery(document).ready(function () {
            'use strict';

            jQuery(
                    '#example-datetime-local-input, #example-datetime-local-input2, #start_date, #end_date, #dob-date, #expire_date'
                    )
                .datetimepicker();
        });
    </script>

    <script>
        function copyToClipboard(element, element1) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();

            $(element1).addClass("copied_success animated bounceIn");
            setTimeout(RemoveClass, 1000);

            function RemoveClass() {
                $(element1).removeClass("copied_success animated bounceIn");
            }
        }
    </script>

    <script>
        function delete_sweet_alert(url, msg) {
            // sweet alert
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-sm btn-success ml-2',
                    cancelButton: 'btn btn-sm btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: msg,
                text: "You won't be able to revert this!",
                icon: 'success',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    swalWithBootstrapButtons.fire(
                        '',
                        'Successfully Done',
                        'success'
                    );

                    window.location.href = url;


                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Cancelled successfully :)',
                        'error'
                    );
                    return false;
                }
            })
        }
    </script>